{% load staticfiles %}

                <div id="footerwrap">
                    <div class="container center">
                        <div class="row">
                            <div class="inner">
                                <div id="footer">
                                    <div id="footerLeft" class="grid_twelve">
                                        <div class="moduletable">
                                            <div class="jbmoduleBody">
                                                <script src="../static/js/jquery-1.7.2.js"></script>
                                                <script type="text/javascript">jQuery.noConflict();</script>
                                                <div class="scroll">
                                                </div>
                                                <div id="jslikeboxsidebarleft" style="top: 142px;">
                                                    <div class="jslikeboxsidebarinner">
                                                        <div class="jslikeboxsidebarbuttonleft">
                                                            <div id="likeboxdarkstandardleft" style="width: 326px; padding: 7px;">
                                                                <div id="likebox-frame-darkr" style="width: 288px; overflow: hidden;">
                                                                    <!--[if IE]>
                                                                    <iframe style="width: 293px; height: 235px; margin: -1px -4px 0 -4px;" frameborder="0" border="0" src="http://www.facebook.com/plugins/likebox.php?locale=pl_PL&href=http://www.facebook.com/pages/eGazeciarzpl/180346282067725&width=300&colorscheme=dark&connections=50&stream=false&header=false&height=820" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                                                    <![endif]-->

                                                                    <!--[if !IE]>-->
                                                                    <object type="text/html" style="width: 293px; height: 235px; margin: -1px -4px 0 -4px;" data="http://www.facebook.com/plugins/likebox.php?locale=pl_PL&href=http://www.facebook.com/pages/eGazeciarzpl/180346282067725&width=300&colorscheme=dark&connections=50&stream=false&header=false&height=820"></object>
                                                                    <!--<![endif]-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ssupport">
                                                        <a href="http://www.susnet.co.uk/" title="Web Design Basildon">Web Design Basildon</a>
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    jQuery(document).ready(function($) {
                                                        $('#jslikeboxsidebarleft > div').hover(
                                                            function () {
                                                                $('.jslikeboxsidebarbuttonleft',$(this)).stop().animate({'marginLeft':'-12px'},400);
                                                            },
                                                            function () {
                                                                $('.jslikeboxsidebarbuttonleft',$(this)).stop().animate({'marginLeft':'-305px'},400);
                                                            }
                                                        );

                                                        $('#jslikeboxsidebarright > div').hover(
                                                            function () {
                                                                $('.jslikeboxsidebarbuttonright',$(this)).stop().animate({'marginLeft':'-290px'},400);
                                                            },
                                                            function () {
                                                                $('.jslikeboxsidebarbuttonright',$(this)).stop().animate({'marginLeft':'8px'},400);
                                                            }
                                                        );
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                        <div id="socialicons" class="zencenter">
                                            <ul>
                                            <!-- Social Icons -->
                                                <li>
                                                    <a class="topicons icon1" href="http://twitter.com/eGazeciarz">
                                                        <img src="{% static "img/twitterDark.png" %}" title="eGazeciarz na Twitterze" alt="twitterDark.png">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="topicons icon2" href="http://feeds.feedburner.com/yahoo/kgng">
                                                        <img src="{% static "img/feedburnerDark.png" %}" title="Kanał RSS" alt="feedburnerDark.png">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="topicons icon3" href="mailto:kontakt@egazeciarz.pl">
                                                        <img src="{% static "img/emailDark.png" %}" title="Skontaktuj się z nami!" alt="emailDark.png">
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="topicons icon4" href="http://www.facebook.com/pages/eGazeciarzpl/180346282067725">
                                                        <img src="{% static "img/facebookDark.png" %}" title="eGazeciarz na Facebooku" alt="facebookDark.png">
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="topicons icon5" href="http://forum.eksiazki.org/egazeciarz-f181/">
                                                        <img src="{% static "img/booksdark.png" %}" title="eGazeciarz na forum eKsiążki" alt="booksdark.png">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div id="footerRight">
                                    </div>
                                </div>
                            </div> <!-- innerContainer -->
                        </div>	<!-- containerBG -->
                    </div> <!-- Container -->
                </div>