{% load static %}

                <div id="logowrap">
                    <div class="container center">
                        <div class="row">
                            <div class="inner">
                                <div id="logo" class="grid_twelve zencenter">
                                    <div id="logoinner">
                                        <h2>
                                            <a href="/">
                                                <img src="{% static "img/gazeciarz.png" %}" alt="">
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>