                <div id="bannerwrap">
                    <div class="container center">
                        <div class="row">
                            <div class="inner">
                                <div id="banner" style="width:100%">
                                    <div class="moduletable-success">
                                        <div class="jbmoduleBody">
                                            <p style="text-align: center;">eGazeciarz to projekt, który pozwala Ci w łatwy sposób zasubskrybować interesujące Cię treści z popularnych serwisów internetowych i dostarczyć je wprost na Twój czytnik wtedy, kiedy tego chcesz ...<br><br>Krok 1: Zarejestruj się na stronie podając adres<strong> </strong>e-mail, a także <span style="font-family: Consolas, &#39;Lucida Console&#39;, monospace; color: #000000;"><span style="line-height: normal; white-space: pre-wrap;"><strong>adres e-mail Twojego Kindle</strong></span></span></p>
                                            <p style="text-align: center;">Krok 2 : Dodaj adres subskrypcje@egazeciarz.pl do listy akceptowanych adresów w <a href="https://www.amazon.com/gp/digital/fiona/manage?ie=UTF8&ref_=kinw_myk_surl_1&#pdocSettings">Amazon</a></p>
                                            <p style="text-align: center;">Krok 3 : Wybierz interesujące Cię serwisy z menu "Subskrypcje", a następnie zaznacz dni i godziny, w których chcesz je otrzymywać.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>