                <!-- Nav wrapper -->
                <div id="navwrap">
                    <div class="container center">
                        <div class="row">
                            <div class="inner">
                                <div id="navwrapper">
                                    <div id="nav" class="grid_twelve Adamina centered">
                                        <div id="menuwrap">
                                            <div class="moduletable">
                                                <div class="jbmoduleBody">
                                                    <ul class="menu">
                                                        {% for nav_item in navwrap_list %}
                                                        <li class="{% if nav_item.url == path %}item1 active" id="current{% endif %}">
                                                            <a href="{{ nav_item.url }}" class="mainlevel">
                                                                <span>{{ nav_item.label }}</span>
                                                            </a>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>