{% load staticfiles %}
<html ng-app="Merge">
    <head>
        <script type="text/javascript" src="{% static "js/libs/angular/angular.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app/app.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app/controllers/app-controller.js" %}"></script>

    </head>
    <body>
        <div ng-controller="BookController">
            <p>[[ left.title ]]</p>
            <p>[[ left.price_lowest ]]</p>
            <img ng-src="[[ left.cover ]]" />
        </div>
    </body>
</html>
