@import "../filters";

$filter-border-width: 2px;
$filter-border-color: #E3E3E3;

.table_cell{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table-cell;
  width:20%;
}

.filter_panel{
  display: table;
  border-collapse: collapse;
  max-width: 1000px;
  background-color: #f6f6f6;
  border-bottom:2px solid $filter-border-color;
  margin-bottom: 20px;
}

.filter_row{
  display:table-row;
}

.filter_box_header{
  border-right: $filter-border-width solid $filter_box_header_background_color;
  border-left: $filter-border-width solid $filter_box_header_background_color;
  margin-bottom: 10px;
  height:33px;
  color:white;
  font-weight:bold;
  font-size:16px;
  padding-top:6px;
  text-align: center;
  cursor:pointer;
  position:relative;
}

.filter_box_bar1{
  border-right: $filter-border-width solid $filter_box_header_bar1_color;
  border-left: $filter-border-width solid $filter_box_header_bar1_color;
}

.filter_box_bar2{
  border-right: $filter-border-width solid $filter_box_header_bar2_color;
  border-left: $filter-border-width solid $filter_box_header_bar2_color;
}

.filter_box{
  vertical-align:top;
  border-right: $filter-border-width solid $filter-border-color;
  border-left: $filter-border-width solid $filter-border-color;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.filter_box_clear{
  border-right: $filter-border-width solid $filter-border-color;
  border-left: $filter-border-width solid $filter-border-color;
}

.filter_clear_button{
  float:right;
  margin-bottom:10px;
  margin-right:10px;
  padding-top:2px;
  width:62px;
  height:18px;
  font-size:12px;
}