{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Spis Treści - Zresetuj Hasło{% endblock title %}
{% block js %} <script type="text/javascript" src="{% static "js/search.js" %}"></script> {% endblock js %}
{% block css %}<link href="{% static "css/register.css" %}" rel="stylesheet" type="text/css">{% endblock css %}

{% block container %}
	<div class="container">
      <div class="index_top_bg s_index_top_bg">
        <div class="index_top">
          <a href="/" class="logo">
            <img src="{% static "img/logo.png" %}" alt="" />
          </a>
        </div>
      </div>
      <div class="register_bottom_container">
        <div class="register_bottom_left_container">
          <div style="float: right;">

          	{% if validlink %}

	          	<h2 style="width: 200px; margin: 0 0 12px 20px;">Podaj nowe hasło</h2>
	          	<form action="" method="post">
					{% csrf_token %}
					{{ form.new_password1.errors }}
					<p class="aligned wide"><label for="id_new_password1" style="width: 80px; display: inline-block;">Nowe hasło</label>{{ form.new_password1 }}</p>
					{{ form.new_password2.errors }}
					<p class="aligned wide"><label for="id_new_password2" style="width: 80px; display: inline-block;">Powtórz hasło:</label>{{ form.new_password2 }}</p>
					<p><input type="submit" id="submit" value="Zmień hasło"></p>
				</form>

			{% else %}

				<h2>Błąd podczas zmiany hasła</h2>
				<p>
					Link do zmiany hasła jest niepoprawny, prawdopodobnie dlatego, że został już wcześniej użyty. Wypełnij formularz zmiany hasła ponownie.
				</p>

			{% endif %}
          </div>
        </div>
      </div>
   </div>
{% endblock %}
