.filter_content.bullet_list{
  ul{
    list-style-position: outside;
  }

  li{
    margin-left:35px;
    margin-bottom:1px;
    float:left;
    width:85%;
    list-style-image:url('../img/dark_point.png');

    a{
      padding-top:2px;
      padding-left:5px;
      padding-right:30px;
      margin-top:1px;
      margin-bottom:1px;
      width:90px;
      font-size:13px;
      cursor:pointer;
    }
  }
}