{% load staticfiles %}
    <div class="container">
      <div class="index_top_bg">
        <div class="index_top">
          <a href="/" class="logo">
            <img src="{% static "img/logo.png" %}" alt="" />
          </a>
          <div class="social">
            ODWIEDŹ NAS: 
            <a href="">
              <img src="{% static "img/social_f.png" %}" alt="" /> 
            </a> 
            <a href="">
              <img src="{% static "img/social_t.png" %}" alt="" /> 
            </a> 
            <a href="">
              <img src="{% static "img/social_g.png" %}" alt="" /> 
            </a>  
          </div>
          <div class="search">
            <div class="search_text">
              Pomożemy Ci znaleść najlepszą ofertę<br />
              na <b>ebooka</b> lub <b>audiobooka</b>:
            </div>
            <form action="search/" class="search_box">
              <div class="search_input">
                <div class="search_input2">
                    {% block search_input %}  {% include "search_input.html" %} {% endblock search_input %}
                </div>
              </div>
              <input type="submit" value="SZUKAJ">
              <div class="search_more">
                <a href="">
                  Wyszukiwanie zaawansowane
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="index_bottom">
        <div class="index_title">U nas porownasz <b>2222222 ofert z 22 księgarni!</b></div>
        <div class="index_subtitle">
          <img src="{% static "img/red_line.png" %}" alt="" />BESTSELLERY<img src="{% static "img/red_line.png" %}" alt="" />
        </div>
        <div class="index_subtitle">
          <img src="{% static "img/red_line.png" %}" alt="" />NOWOŚCI<img src="{% static "img/red_line.png" %}" alt="" />
        </div>
        <div class="index_subtitle">
          <img src="{% static "img/red_line.png" %}" alt="" />PROMOCJE<img src="{% static "img/red_line.png" %}" alt="" />
        </div>
        
  <!--   list book       -->
      <!--<? for($j=0;$j<3;$j++){ ?> -->

        <div class="three_index_box">
          <!--<? for($i=0;$i<3;$i++){ ?> -->

          <div class="index_box">
            <img src="{% static "img/bok_img_index.png" %}" alt="" />
            <div class="ib_text">
              <div class="ib_text1">
                <a href="">
                  Więzień nieba. Książe Parnasu
                </a>
              </div>
              <div class="ib_text2">
                <a href="">
                  Zafon Carlos Louis
                </a>
              </div>
              <div class="ib_text_pos">
                <div class="ib_text3">
                  cena od:
                </div>
                <div class="ib_price">
                  29.99<span class="ib_price2">zł</span>
                </div>
                <div class="ib_line">
                </div>
                <a href="">
                  <div class="ib_btn">  
                  </div>
                </a>
                <a href="">
                  <div class="ib_btn2">
                    SPRAWDŹ
                  </div>
                </a>
              </div>  
            </div>
            <div class="index_box_h">
              <div class="ibh_image">
                <a href="">
                  Dostępne<br /> 
                  formaty:
                  <div class="ibh_image_format">
                    epub<br />
                    pdf<br />
                    mp3
                  </div>
                </a>  
              </div>
              <div class="x">
              </div>
            </div>
          </div>
          <!--% endfor %-->
          <div class="index_more">
            <a href="">
              Zobacz więcej
            </a>
          </div>
        </div>
        <!--% endfor %-->
        
   <!--  end of list book       -->  
     </div>
    </div>
