    <ul class="menu">
      <li class="act">
        <a href="/">
          Spis treści
        </a>
      </li>
      <li>
        <a href="">
          eKundelek
        </a>
      </li>
      <li>
        <a href="">
          eczytniki
        </a>
      </li>
      <li>
        <a href="">
          Ranking
        </a>
      </li>
      <li>
        <a href="">
          Egazeciarz
        </a>
      </li>
      <li>
        <a href="">
          Raporty
        </a>
      </li>
      <li class="menu2 menu2b">
        <a href="">
          ZALOGUJ SIĘ
        </a>
      </li>
      <li class="menu2 menu2a">
        <a href="">
          ZAREJESTRUJ SIĘ
        </a>
      </li>
    
    </ul>
