
        <div class="s_left_box act">
          <div class="s_left_blue">
            CENA
            <div class="s_left_arrow">
            </div>
          </div>
          <div class="s_left_hide">
            <form action="" method="">
              Od: <input class="filter_price" id='filter_price_from' type="text" value='{{ filter_price_from }}'> zł <br/>
              Do: <input class="filter_price" id='filter_price_to' type="text" value='{{ filter_price_to }}'> zł
            </form>
            <div class="filter_clear_button s_left_btn">
              WYCZYŚĆ
            </div>
            <div class="filter_button s_left_btn s_left_btn2" >
              FILTRUJ
            </div>
          </div>
        </div>
