{% load staticfiles %}
    <div class="container">
      <div class="index_top_bg s_index_top_bg">
        <div class="index_top">
          <a href="/" class="logo">
            <img src="{% static "img/logo2.png" %}" alt="" />
          </a>
          <div class="search">
            <form class="search_box">
              <div class="right_input_bg">
              </div>
              <div class="search_input">
                <div class="search_input2">
                    {% block search_input %}  {% include "search_input.html" %} {% endblock search_input %}
                </div>
              </div>
              <input id="id_submit" type="submit" value="SZUKAJ">
              <div class="search_more s_search_more">
                <a href="">
                  WYSZUKIWANIE ZAAWANSOWANE
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
      
<!--    LEFT MENU    -->
	{% include "search_filters.html" %}
<!-- LEFT MENU END -->
      <div class="s_right{% if isMenuHidden %} s_right2{% endif %}" id="s_right">
        <div class="sort">
          <div class="sort_one">
            <span style="float:left">
              CENA 
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="sort_one">
            <span style="float:left">
              ALFABETYCZNIE 
            </span>
            <div class="az">Az</div>
          </div>
          <div class="sort_one">
            <span style="float:left">
              PROMOCJA 
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="sort_one sort_one_last">
            <span style="float:left">
              ILOŚĆ FORMATÓW 
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="sort_ico sort_ico3"></div>
          <div class="sort_ico sort_ico2"></div>
          <div class="sort_ico sort_ico1 act"></div>
        </div>
        {% block search_results %}  {% include "search_results_list.html" %} {% endblock search_results %}
      </div>
   </div>
