{% load mathtags %}
        <div class="s_left_box act">
          <div class="s_left_blue">
            {{filter.name}}
            <div class="s_left_arrow">
            </div>
          </div>
          {% for group in filter.data %}
          <div class="s_left_hide{% if forloop.last %} s_left_hide_last{% endif %}" >
            <div id="menu_arrow{{ forloop.counter }}" class="s_left_cat_arrow">
            </div>
            <div class="s_left_cat">
              {{ group.name }}
            </div>
            <ul id="sub{{ forloop.counter }}">
              {% for item in group.items %}
              <li class="filter_{{ filter.name_id }}{% if item.isFilterActive %} act{% endif %}">
                <a>
                    {{ item.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% if forloop.last %}
            <div class="filter_clear_button s_left_btn">
              WYCZYŚĆ
            </div>
            <div class="filter_button s_left_btn s_left_btn2" >
              FILTRUJ
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
