                  <input id="id_q" name="q" type="text" autocomplete="off">
                  <ul class="search_input_hover" id="hover">
                    {% for result in page.object_list %}
                        {% if not forloop.last %}
                            <li>
                              <a href="">Tomasz Gessler<span class="sih_who">autor</span></a>
                            </li>
                        {% else %}
                            <li id="last">
                              <a href="">Proces<span class="sih_who">Franz Kawka</span></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                  </ul>