
        <div class="s_left_box act">
          <div class="s_left_blue">
            SERWISY
            <div class="s_left_arrow">
            </div>
          </div>
          <div class="s_left_hide s_left_hide_last" >
            <div class="s_left_cat_arrow">
            </div>
            <div class="s_left_cat">
              Wszystkie
            </div>
            <ul>
              {% for service_name in services %}
              <li class="filter_service">
                <a>{{service_name}}</a>
              </li>
              {% endfor %}
            </ul>
            <div class="filter_clear_button s_left_btn">
              WYCZYŚĆ
            </div>
            <div class="filter_button s_left_btn s_left_btn2" >
              FILTRUJ
            </div>
          </div>
        </div>
