{% load staticfiles %}
    <div class="container">
      <div class="index_top_bg s_index_top_bg">
        <div class="index_top">
          <a href="/" class="logo">
            <img src="{% static "img/logo2.png" %}" alt="" />
          </a>
          <div class="search">
            <form class="search_box">
              <div class="right_input_bg">
              </div>
              <div class="search_input">
                <div class="search_input2">
                  <input id="id_q" name="q" type="text">
                  <ul class="search_input_hover" id="hover">
                    <li>
                      <a href="">Magda Gessler<span class="sih_who">autor</span></a>
                    </li>
                    <li>
                      <a href="">Magda Gessler<span class="sih_who">autor</span></a>
                    </li>
                    <li id="last">
                      <a href="">Magda Gessler<span class="sih_who">autor</span></a>
                    </li>
                  </ul>
                </div>
              </div>
              <input type="submit" value="SZUKAJ">
              <div class="search_more s_search_more">
                <a href="">
                  WYSZUKIWANIE ZAAWANSOWANE
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
      
<!--    LEFT MENU    -->
	{% include "search_filters.html" %}
<!-- LEFT MENU END -->
      <div class="s_right" id="s_right">
        <div class="sort">
          <div class="sort_one">
            <span style="float:left">
              CENA 
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="sort_one">
            <span style="float:left">
              ALFABETYCZNIE 
            </span>
            <div class="az">Az</div>
          </div>
          <div class="sort_one">
            <span style="float:left">
              PROMOCJA 
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="sort_one sort_one_last">
            <span style="float:left">
              ILOŚĆ FORMATÓW 
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="sort_ico sort_ico3"></div>
          <div class="sort_ico sort_ico2"></div>
          <div class="sort_ico sort_ico1 act"></div>
        </div>
        {% block search_results %}  {% include "search_results_list.html" %} {% endblock search_results %}
        <div class="page">
          <a href="">
            <div class="page_img page_img1"></div>
          </a>
          <a href="">
            <div class="page_img page_img2"></div>
          </a>
          <div class="page_number">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">...</a>
            <a href="">35</a>
            <a href="">36</a>
            <a href="">37</a>
          </div>
          <a href="">
            <div class="page_img page_img3"></div>
          </a>
          <a href="">
            <div class="page_img page_img4"></div>
          </a>
          <div class="page_goto">
            <label>IDŹ DO</label> <form><input type="text"></form>
          </div>
        </div>
      </div>
   </div>
