       <div class="sort">
          <div class="sort_one">
            <span style="float:left">
              CENA
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="sort_one">
            <span style="float:left">
              ALFABETYCZNIE
            </span>
            <div class="az">Az</div>
          </div>
          <div class="sort_one">
            <span style="float:left">
              PROMOCJA
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="sort_one sort_one_last">
            <span style="float:left">
              ILOŚĆ FORMATÓW
            </span>
            <div class="sort_arrow act"></div>
            <div class="sort_arrow sort_arrow_d"></div>
          </div>
          <div class="page">
            {% include 'paginator_mini.html' %}
          </div>
          <!--
          <div class="sort_ico sort_ico3"></div>
          <div class="sort_ico sort_ico2"></div>
          <div class="sort_ico sort_ico1 act"></div>
          -->
        </div>