{% load staticfiles %}
{% load css_tags %}

{% comment %}
Trop książkę i poinformuj mnie, gdy cena spadnie poniżej:<br/>
<input value="10.00" /><span class="currency"> zł</span><div class="track_button"> TROP <img src="{% static "img/hand.png" %}" alt=""></div>
{% endcomment %}

<div id="track_form_static_container" class="track_form_container{% if user == None or not user.is_authenticated %} logout{% endif %}">
<div class="track_msg">Trop książkę i poinformuj mnie, gdy cena spadnie poniżej:</div>
<div id="track_div_{{ product.id }}">
    <form action="" method="post" id="track_form_{{ product.id }}" accept-charset="utf-8">
        <input type="hidden" name="book" value="{{ product.id }}" />
        {% for field in track_form %}
            {{ field.errors }}
            {% if field.name == "price" %}
                <input class="track_input" id="id_price" maxlength="10" name="price" type="text" {% if user == None or not user.is_authenticated %}disabled{% endif %} placeholder="9.90">
            {% endif %}
        {% endfor %}

        <span class="currency"> zł</span>
        <div class="track_button" onclick="send_form_static('#track_form_{{ product.id }}');"> TROP <img src="{% static "img/hand.png" %}" alt=""></div>
        <!--<div class="track_list" style="font-size: 12px">lista tropionych książek</div>-->
        <div id="track_bottom_msg_{{ product.id }}" class="track_bottom_msg">
            <div class="login_required">Musisz się <a href="{% url 'account_login' %}">zalogować</a>, by móc tropić książki.</div>
        </div>
    </form>
</div>
</div>
