<div class="filter_panel">
{% for filter in filters %}
    <div class="filter_obj act unselectable" unselectable="on">
        <div class="filter_box_header clickable">
            <span>{{filter.name}}</span><div class="arrow"></div>
            <div class="filter_box_bar1"></div>
            <div class="filter_box_bar2"></div>
        </div>
        <div class="filter_box">
            {% include filter.template_file %}
            <div class="filter_box_clear" ><div class="filter_clear_button" >WYCZYŚĆ</div></div>
            <div class="filter_box_bar3"></div>
        </div>
    </div>
{% endfor %}
</div>
