{% load staticfiles mathfilters str_tags commontags %}
{% with product=result %}
          <div class="index_box{% if forloop.counter > 3 %} extra{% endif %}">
            <img src="{{ product.cover }}" style="width: 91px; height: 137px;" onerror="this.onerror=null;this.src='{% static "img/default_cover.png" %}'" alt=""  />
            <div class="ib_text">
              <div class="ib_text1">
                <a href="{% url "book_page" pk=product.pk title=product.title|slugify %}" title="{{ product.title }}">{{ product.title }}</a>
              </div>
              <div class="ib_text2 s_author">
              {% autoescape off %}
                {{ product.authors.all|wrap_each:'<a href="/search/?q=%s">%s</a>'|join:', ' }}
              {% endautoescape %}
              </div>
              <div class="ib_text_pos">
                <div class="ib_text3">
                  cena od:
                </div>
                <div class="ib_price">
                  {{ product.price }}<span class="ib_price2">zł</span>
                  <span class="old_price">{{ product.price_normal }}</span>
                </div>
                <div class="ib_line">
                </div>
                <div class="ib_btn track_button" data-track-form-id="{{ product.id }}">
                </div>
                <a href="{% url "book_page" pk=product.pk title=product.title|slugify %}" title="{{ product.title }}">
                    <div class="ib_btn2{% comment %}details_button{% endcomment %}">
                        SPRAWDŹ
                    </div>
                </a>
              </div>
            </div>
            <div class="index_box_h">
              <div class="ibh_image">
                <a href="{% url "book_page" pk=product.pk title=product.title|slugify %}" title="{{ product.title }}">
                  Dostępne<br />
                  formaty:
                  <div class="ibh_image_format">
                    {{  product.formats.all|formats_to_readable|join:"<br />" }}
                  </div>
                </a>
              </div>
              {% comment %}
              <div class="x">
              </div>
              {% endcomment %}
            </div>
          </div>
{% endwith %}