{% load staticfiles %}
<div class="footer">
    <div class="footer_flank col">
        <div class="col-content">
            <div class="footer_title">
                O SERWISIE
            </div>
            <div class="footer_text_bold">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    <div class="footer_center col">
        <div class="col-content">
            <div class="footer_title">
                PRZYDATNE LINKI
            </div>
            <ul>
                <li>Najczęstsze pytania</li>
                <li>Jak korzystać z serwisu</li>
                <li>Współpraca</li>
                <li>Reklama</li>
                <li>Dla blogerów</li>
                <li>Dla programistów</li>
            </ul>
        </div>
    </div>
    <div class="footer_flank col">
        <div class="col-content">
            <div class="footer_title">
                WSPÓŁPRACA
            </div>
            <div class="footer_text_bold">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.        </div>
    </div>
</div>
<div class="footer_footer">
    <span class="ff_left">Wszelkie prawa zastrzeżone | Copyrights 2013 spistresci.pl</span>
    <span class="ff_right">Projekt: <a href="http://www.whyblack.pl" target="_blank">Whyblack, Version: Alpha_10</a></span>
</div>