{% load staticfiles %}
<div id="popup_container"></div>
<div class="footer">
    <div class="footer_flank col">
        <div class="col-content">
            <div class="footer_title">
                O SERWISIE
            </div>
            <div class="footer_text_bold">
            SpisTresci.pl nie jest sklepem internetowym, lecz wyszukiwarką i porównywarką cenową ebooków, audiobooków, a wkrótce także i tradycyjnych książek.
            </div>
            Dzięki rekordowej liczbie podłączonych księgarni oraz serwisów z darmowymi książkami, nasz serwis jest idealnym rozwiązaniem dla wszystkich osób ceniących sobie czas, pieniądze i przede wszystkim dobrą literaturę.
        </div>
    </div>
    <div class="footer_center col">
        <div class="col-content">
            <div class="footer_title">
                PRZYDATNE LINKI
            </div>
            <ul>
               <!-- <li><a href="/faq/">Najczęstsze pytania</a></li>
                <li><a href="/howto/">Jak korzystać z serwisu</a></li> -->
                <li><a href="/partners/">Serwisy partnerskie</a></li>
                <li><a href="/regulamin/">Regulamin Serwisu</a></li>
                <li><a href="/about-us/">O nas</a></li>
                <li><a href="/contact/">Kontakt</a></li>
            </ul>
        </div>
    </div>
    <div class="footer_flank col">
        <div class="col-content">
            <div class="footer_title">
                WSPÓŁPRACA
            </div>
            <div class="footer_text_bold">
            Jesteśmy otwarci na współpracę z każdą księgarnią internetową, wydawnictwem czy innym serwisem internetowym, udostępniającym legalne ebooki, audiobooki lub tradycyjne książki.
            </div>
            Naszym celem jest stworzenie miejsca za pomocą którego czytelnik zawsze będzie mógł znaleźć interesującą go książkę w preferowanym formacie w najlepszej cenie. Zapraszamy do <a href="/contact/">kontaktu z nami!</a></div>
    </div>
</div>
<div class="footer_footer">
    <span class="ff_left">Wszelkie prawa zastrzeżone | Copyrights 2014 spistresci.pl</span>
    <span class="ff_right">Projekt: <a href="http://www.whyblack.pl" target="_blank">Whyblack</a>, Wersja: Beta: 16</span>
</div>
