{% extends "base.html" %}
{% load staticfiles %}
{% load dajaxice_templatetags %}

{% block title %}Spis Treści - strona główna{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static "js/jquery.dotdotdot.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/index.js" %}"></script>
<script type="text/javascript" src="{% static "/static/dajax/jquery.dajax.core.js" %}"></script>
{% dajaxice_js_import %}
<script type="text/javascript" src="{% static "js/jquery.spotlight.js" %}"></script>
<script type="text/javascript" src="{% static "js/track_form.js" %}"></script>
<script type="text/javascript">
 (function(w) {
   w['_sv'] = {trackingCode: 'glxQhBGLHwhaUhFjNxXIOjQMjhylSbXe'};
   var s = document.createElement('script');
   s.src = '//api.survicate.com/assets/survicate.js';
   s.async = true;
   var e = document.getElementsByTagName('script')[0];
   e.parentNode.insertBefore(s, e);
 })(window);
</script>
{% endblock js %}
{% block css %}<link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css">{% endblock css %}
{% block container %} {% include "index_container.html" %} {% endblock container %}
