{% load staticfiles %}
{% load socialaccount %}
    <ul class="menu">
      {% for service in top_menu %}
      <li{% if path == service.url%} class="act"{% endif %}>
        <a href="{{ service.url }}">
          {{ service.name }}
        </a>
      </li>
      {% endfor %}


      {% if user == None or not user.is_authenticated %}
      <li id="login" class="menu2 menu2b">
        <a href="{% url 'account_login' %}">
          ZALOGUJ SIĘ
        </a>
      </li>
      <li id="register" class="menu2 menu2a">
        <a href="{% url 'account_signup' %}">
          ZAREJESTRUJ SIĘ
        </a>
      </li>
      {% else %}
      <li id="logout" class="menu2 menu2b">
        <a href="/logout/" style="display: block; width: 100%; height: 100%">
          WYLOGUJ
        </a>
      </li>
      <li id="account" class="menu2 menu2a">
        <a style="display: block" href="{% url 'profile:home' %}">
          MOJE KONTO
        </a>
      </li>
      {% endif %}


    </ul>
    {% comment %}
    <div class="loginform">
        <form id="login" action="" method="post">{% csrf_token %}
            <fieldset id="inputs">
                <input id="username" name="username" type="text" placeholder="Adres email" autofocus="" required="">
                <input id="password" name="password" type="password" placeholder="Hasło" required="">
            </fieldset>
            <fieldset id="actions">
                <div class="auth_icons">
                    <a href="{% provider_login_url "facebook" method="oauth2" %}"><img height="35px" src="{% static "img/auth/auth_facebook_icon.png" %}" /></a>
                    <a href="{% provider_login_url "google" method="oauth2" %}"><img height="35px" src="{% static "img/auth/auth_gplus_icon.png" %}" /></a>
                    <a href="{% provider_login_url "twitter" method="oauth2" %}"><img height="35px" src="{% static "img/auth/auth_twitter_icon.png" %}" /></a>
                </div>
                <input type="submit" id="submit" value="Zaloguj">
            </fieldset>
        </form>
    </div>
    {% endcomment %}

