{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Spis Treści - rejestracja{% endblock title %}
{% block css %}<link href="{% static "css/register.css" %}" rel="stylesheet" type="text/css">{% endblock css %}
{% block js %}<script type="text/javascript" src="{% static "js/search.js" %}"></script>{% endblock js %}
{% block container %}
	<div class="container">
      <div class="index_top_bg s_index_top_bg">
        <div class="index_top">
          <a href="/" class="logo">
            <img src="{% static "img/logo.png" %}" alt="" />
          </a>
        </div>
      </div>
      <div class="register_bottom_container" style="display: table;margin: 0 auto;">
        <div class="message" style="display: table-cell;vertical-align: middle;text-align: center;">
            {% block message %}{% endblock %}
        </div>
      </div>
   </div>
{% endblock %}
