{% load mathtags %}


    {% if page.number > 1 %}
        <a class="pageLink" href="" data-p="{{ page.number|sub:"1"}}"><div class="page_img page_img2"></div></a>
    {% endif %}
    <div class="page_number">
        <input type="text" class="pageLink page_active_number" data-p="{{ page.number }}" value="{{ page.number }}"/>
        z
        <a class="pageLink" href="" data-p="{{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
    </div>
    {% if page.number < page.paginator.num_pages %}
        <a class="pageLink" href="" data-p="{{ page.number|add:"1"}}"><div class="page_img page_img3"></div></a>
    {% endif %}
