/*@font-face{
  font-family : 'gnuolane free';
  src: url('../fonts/gnuolane_free.eot');
  src: local("☺"), 
  url('../fonts/gnuolane_free.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gnuolane free.woff') format('woff'),
  url('../fonts/gnuolane free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/

*{
  margin: 0;
  padding: 0;
}
img{
  border:none;
}
html{
  height: 100%;
}
body{
  background:#fff;
  font-family: 'PT Sans', sans-serif;
}
a{
  text-decoration:none;
}

/* menu */
.container{
/*   width:960px; */
}
.menu{
  background:url(img/menu_bg.png) repeat-x;
  width:100%;
  height:57px;
  list-style:none;
}
.menu li{
  float:left;
  width:115px;
  text-align:center;
  padding-top:20px;
  padding-bottom:18px;
  font-size:15px;
  border-right:1px solid #e3e3e3;
}
.menu .act a{
  color:#122e3d !important;
}
.menu .act{
  background:url(../img/menu_tringle_hover.png) bottom center no-repeat;
}
.menu li a{
  color:#bbbbbb;
  text-decoration:none;
}
.menu li a:hover{
  color:#122e3d;
}
.menu2{
  float:right !important;
  width:110px !important;
  border-right:none;
  border-left:1px solid #e3e3e3;
  font-size:13px !important;
  font-weight:bold;
  padding-top:22px !important;
  padding-bottom:13px !important;
}
.menu2a{
  border-bottom:5px solid #225b98; 
}
.menu2a a{
  color:#225b98 !important;
}
.menu2b{
  border-bottom:5px solid #ab0000; 
}
.menu2b a{
  color:#ab0000 !important;
}

/* top_index */

.index_top_bg{
  background:url(../img/index_top_bg.jpg) top center no-repeat;
  height:560px;
}
.index_top{
  margin:0 auto;
  width:960px;
  padding-top:60px;
/*   height:500px; */
}
.logo{
    height: 100px;
    margin: 0 auto;
    width: 100px;
}
.social{
  float:right;
  margin-top:12px;
  color:white;
  font-weight:bold;
  font-size:17px;
}
.social img{
  margin-bottom:-7px;
  margin-left:12px;
}
.search{
  float:left;
  width:750px;
  margin-left:120px;
  margin-top:80px;
  font-size:30px;
  color:white;
}
.search_text{
  text-align:center;
  width:710px;
  margin-bottom:20px;
}
.search_box{

}
.search_input{
  background:url(../img/search_input_bg.png) no-repeat;
  width:504px;
  height:105px;
  float:left;
}
.search_input2{
  width:467px;
  float:left;  
  margin-left:20px;
  margin-top:20px;
  background:#fff url(../img/search_hover_bg3.png) repeat-x;
  -webkit-border-radius: 10px;
 -khtml-border-radius: 10px; 
 -moz-border-radius: 10px;
  border-radius: 10px;
  border:3px solid #ab0000;
  position:relative;
  z-index:100;
}
.search_box input[type="text"]{
  border:none;
  width:447px;
  height:66px;
  padding-left:20px;
  font-size:18px;
/*  position:relative;
  z-index:120;*/
  background:none;
}
/*.search_input2:hover .search_input_hover{
  display:block !important;
}*/

.search_input_hover{
  width:460px;
  list-style:none;
  float:left;
/*   display:none; */
  font-size:22px;
  margin-top:-1000px;
}
.search_input2 .search_input_hover{
  margin-top:0px;
}
/*.search_input_hover{
  width:460px;
  list-style:none;
  float:left;
  font-size:22px;
  margin-top:0px;
}*/
.search_input_hover li{
/*   margin-top:10px; */
  height:50px;
  width:467px;
}
.search_input_hover li:hover{
  background:#E6ECFF;
}
.search_input_hover #last{
  -webkit-border-bottom-right-radius: 10px;
 -webkit-border-bottom-left-radius: 10px;
 -khtml-border-radius-bottomright: 10px;
 -khtml-border-radius-bottomleft: 10px;
 -moz-border-radius-bottomright: 10px;
 -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search_input_hover li a{
  padding-top:10px;
  padding-bottom:10px;
  border-top:1px solid gray;
  color:#777;
  text-decoration:none;
  margin-left:20px;
  float:left; 
  width:440px;
}
.search_input_hover li a:hover{
  color:#333;
}

.sih_who{
  float:right;
  color:#999;
  margin-right:20px;
}
.search_input_hover li a:hover .sih_who{
  color:#ab0000;
}
.search_box input[type="submit"]{
  float:left;
  border:none;
  background:url(../img/search_btn.png) no-repeat;
  width:205px;
  height:105px;
  color:white;
  font-size:28px;
  text-shadow:#333 1px 1px 1px;
  cursor:pointer;
}
.search_box input[type="submit"]:hover{
  padding-top:2px;
  font-size:30px !important;
}
.search_more{
  float:right;
  font-size:13px;
  color:#40a7da;
  margin-top:10px;
  margin-right:65px;
}
.search_more a{
  text-decoration:underline;
  color:#40a7da;
}
.search_more a:hover{
  color:white;
}
.index_bottom{
  width:960px;
  margin:0 auto;
  min-height:720px;
}
.index_title{
  text-align:center;
  color:#4c4c4c;
  font-size:19px;
  margin-top:30px;
}
.index_subtitle{
  margin-top:30px;
  margin-bottom:30px;
  float:left;
  text-align:left;
  color:#ab0000;
  font-size:20px;
  font-weight:bold;
  width:320px;
}
.index_subtitle img{
  margin-bottom:5px;
  margin-left:12px; 
  margin-right:12px;
}
.three_index_box{
  width:320px;
  float:left;
}
.index_box{
  width:320px;
  position:relative;
  float:left;
  margin-bottom:20px;
}
.index_box img{
  margin:10px;
  float:left;
  padding:5px;
  border:#e3e3e3 1px solid;
}
.ib_text{
  float:left;
  width:145px;
  margin-top:10px;
  position:relative;
  z-index:10;
}
.ib_text1{
  width:120px;
}
.ib_text1 a{
  color:#464646;
  font-weight:bold;
  text-decoration:none;
  font-size:16px;
  line-height:16px;
}
.ib_text1 a:hover{
  color:#ab0000;
  text-decoration:underline;
}
.ib_text2{
  font-size:12px;
}
.ib_text2 a{
  color:#e3e3e3;
  text-decoration:underline;
}
.ib_text2 a:hover{
  color:#ab0000;
}
.ib_text_pos{
  position:absolute;
  top:53px;
  left:0px;
}
.ib_text_pos a{
  text-decoration:none !important;
}
.ib_text3{
  color:#225b98;
  font-weight:bold;
  cursor:default;
}
.ib_price{
  font-size:28px;
  color:#225b98;
/*   font-weight:bold; */
  cursor:default;
}
.ib_price2{
  color:#225b98;
  font-size:12px;
  cursor:default;
}
.ib_line{
  width:146px;
  margin-bottom:1px;
  height:1px;
  border-bottom:1px solid #225b98;
}
.ib_btn{
  background:url(../img/btn_blue.png) no-repeat;
  width:37px;
  height:35px;
  float:left;
}
.ib_btn2{
  float:left;
  background:url(../img/btn_red.png) no-repeat;
  width:108px;
  height:27px;
  font-weight:bold;
  font-size:14px;
  color:white;
  text-align:center;
  padding-top:8px;
  margin-left:1px;
}
.index_box:hover .index_box_h{
  display:block;
}
.index_box_h{
  position:absolute;
  display:none;
  background:#e6ecff;
  opacity:0.9;
  filter:alpha(opacity=90);
  border:#dae5ff 1px solid;
  -webkit-border-radius: 3px;
 -khtml-border-radius: 3px;  
 -moz-border-radius: 3px; 
  border-radius: 3px;
  width:300px;
  height:180px;
  top:0px;
  left:-10px;
}

.ibh_image{
  background:#172d5e;
  margin-top:10px;
  margin-left:20px;
  color:white;
  text-align:center;
  width:100px;
  height:148px;
  font-size:12px;
  font-weight:bold;  
}
.ibh_image a{
  padding-top:20px;
  float:left;
  color:white;
  width:100px;
  height:128px;
  text-decoration:none;
}
.ibh_image a .ibh_image_format{
  color:#92ade9;
  font-size:14px;
  margin-top:10px;
}
.x{
  position:absolute;
  top:4px;
  right:4px;
  background:url(../img/x.png) no-repeat;
  width:20px;
  height:20px;
  cursor:pointer;
  z-index:20;
}
.index_more{
  width:320px;
  text-align:center;
  font-weight:bold;
  margin-top:15px;
  font-size:14px;
}
.index_more a{
  color:#225b98;
}
.index_more a:hover{
  color:black;
}


/* footer */
.footer{
  margin:0 auto;
  width:960px;
  height:439px;
}
.footer2{
  width:100%;
  float:left;
}
.footer_left{
  float:left;
  border-top:7px solid #e3e3e3;
  border-left:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
  margin-bottom:20px;
}
.footer_left2{
  border-left:none;
  border-right:none;
  width:100%;
}
.footer_bg{
  background:url(../img/footer_bg.png) repeat-x;
  width:962px;
  height:145px;
  text-align:center;
  margin-top:2px;
  padding-top:10px;
  margin-left:-1px;
}
.footer_bg a{
  width:320px;
  margin-top:14px;
  margin-bottom:2px;
  float:left;
  color:white;
  text-decoration:none;
  font-size:18px;
}
.footer_bg a:hover{
  font-weight:bold;
}
.footer_logos{
  border-top:5px solid #e3e3e3;
  border-bottom:5px solid #e3e3e3;
  height:75px;
}
.footer_logos img{
  border-right:1px solid #e3e3e3;
  width:188px;
  margin-left:-1px;
}
.footer_text{
  float:left;
  width:326px;
  border-right:1px solid #e3e3e3;
  color:#888;
  font-size:11px;
  padding:20px;
  font-family:"Arial";
}
.ft1{
  width:339px;
  
}
.ft2{
  width:151px;
  
}
.ft3{
  width:344px;
  border:none;
}
.footer_title{
  font-size:16px;
  font-weight:bold;
  margin-bottom:15px;
  color:#777;
}
.footer_text_bold{
  font-weight:bold;
  color:#777;
  margin-bottom:10px;
}
.footer_footer{
  float:left;
  width:942px;
  height:25px;
  background:#00407b;
  color:#7a8bb5;
  padding-left:20px;
  font-size:11px;
  padding-top:11px;
  margin-left:-1px;
  font-family:"Arial";
}
.footer_footer2{
  width:98%;
  padding-left:2%;
}
.ff_right{
  float:right;
  margin-right:20px;
}
.ff_right a{
  color:#7a8bb5;
  text-decoration:none;
}
.ff_right a:hover{
  color:white;
}

/* search */

.s_index_top_bg{
  background:url(../img/2top_bg.png) repeat-x !important;
  height:128px;
}
.s_index_top_bg .index_top{
  margin:0px !important;
  padding:0px !important;
  padding-top:40px !important;
  width:100%;
  position:relative;
}
.s_index_top_bg .logo{
  margin-left:3%;
}
.s_index_top_bg .search{
  margin-top:50px !important;
  margin-left:0px !important;
  position:absolute;
  top:0px;
  left:350px;
/*   width:75% !important; */
  width: -moz-calc(100% - 400px);
  width: -webkit-calc(100% - 400px);
  width: -o-calc(100% - 400px);
  width: calc(100% - 400px);
}
.s_index_top_bg .search_box{
/*   background:url(../img/2input.png) no-repeat; */
  background:none !important;
  width:100%;
  height:50px;  
}
.s_index_top_bg .search_box input[type="submit"]{
  background:url(../img/2input_btn.png) no-repeat;
  width:199px;
  height:50px;
  font-size:22px;
  font-weight:bold;
}
.s_index_top_bg .search_box input[type="submit"]:hover{
  font-size:24px !important;
}
.s_index_top_bg .search_box input[type="text"]{
  width: calc(100% - 19px);
  height:32px;
}
.s_index_top_bg .search_input{
  background:url(../img/input_center.png);
/*   width:45% !important; */
  height:50px;
  width: -moz-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  width: -o-calc(100% - 250px);
  width: calc(100% - 250px);
}
.right_input_bg{
  float:left;
  background:url(../img/input_left.png);
  width:10px;
  height:50px;
}
.s_index_top_bg .search_input2{
  margin-left:0px !important;
  margin-top:6px !important;
  width:97% !important;
  font-size:20px;
}
.s_index_top_bg .search_input_hover{
  width:100%;
}
.s_index_top_bg .search_input_hover li{
  width:100%;
}
.s_index_top_bg .search_input_hover a{
  margin-left:5%;
  width:90%;
}
.s_index_top_bg .search_more{
  background:url(../img/2input_btn_more.png) no-repeat;
  width:199px;
  height:40px;
  padding-top:13px;
  float:left;
  border:none;
  color:white;
  font-size:15px;
  line-height:14px;
  font-weight:bold;
  text-shadow:#333 1px 1px 1px;
  cursor:pointer;
  text-align:center;
  margin-top:0px !important;
  margin-left:15px;
  margin-right:0px;
}
.s_index_top_bg .search_more a{
  color:white;
  text-decoration:none;
}
.s_index_top_bg .search_more a:hover{
/*   color:#40A7DA; */
  font-size:17px;
}

/* search left_menu */
.s_left{
  width:230px;
  padding:30px;
  float:left;
  background:#f6f6f6;
  border-right:2px solid #E3E3E3;
  border-bottom:2px solid #E3E3E3;
  position:relative;
   -moz-transition: all 0.5s ease-out;

      -webkit-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
}
.s_zip{
  margin-left:-290px;
}
.s_zip .s_arrow_zip{
  background:url(../img/arrow_right_red.png) no-repeat;  
}
.s_arrow_zip{
  position:absolute;
  top:30px;
  right:-25px;
  z-index:10;
  background:url(../img/arrow_left_red.png) no-repeat;
  width:25px;
  height:38px;
  cursor:pointer;
}
.s_left_box{
  float:left;
}
.s_left_blue{
  background:url(../img/2box_blue_red.png) no-repeat;
  width:220px;
  height:32px;
  color:white;
  font-weight:bold;
  font-size:20px;
  padding-top:6px;
  padding-left:12px;
  cursor:pointer;
  position:relative;
}
.s_left_arrow{
  position:absolute;
  background:url(../img/2arrow_down.png) no-repeat;
  width:17px;
  height:16px;
  right:12px;
  top:10px;
}
.s_left .act .s_left_arrow{
  background:url(../img/2arrow_up.png) no-repeat;
}
.s_left .act .s_left_hide{
  display:block;
}
.s_left_hide{
  display:none;
  padding:8px;
  border-bottom:1px solid #122E3D;
  padding-bottom:10px;
  margin-bottom:20px;
  float:left;
  padding-right:0px;
  width:222px;
}
.s_left_hide_last{
  border-bottom:2px solid #122E3D;
}
.s_left_cat{
  float:left;
  padding-left:5px;
  margin-top:1px;
  margin-bottom:1px;
  width:110px;
  font-size:18px;
  cursor:pointer;
  margin-right:50px;
}
.s_left_hide .act{
  background:#225b98 url(../img/2x.png) 100px no-repeat;
  color:white;
}
.s_left_cat_arrow{
  float:left;
  background:url(../img/2arrow_up_black.png) no-repeat;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:7px;
  cursor:pointer;
}

.s_left_cat_arrow2{
  float:left;
  background:url(../img/2arrow_down_black.png) no-repeat;
  width:10px;
  height:10px;
  margin-right:5px;
  margin-top:7px;
  cursor:pointer;
}

.s_left_hide ul{
  list-style-position: outside; 
}

.hide_ul{
  display: none;
}

.s_left_hide li{
  margin-left:35px;
  margin-bottom:1px;
  float:left;
  width:95px;
  list-style-image:url('../img/dark_point.png');
}
.s_left_hide .act{
  list-style-image:url('../img/blue_point.png');
}
.s_left_hide li a{
/*   float:left; */
  padding-top:2px;
/*   padding-bottom:2px; */
  padding-left:5px;
  padding-right:50px;
  margin-top:1px;
  margin-bottom:1px;
  width:90px;
  font-size:13px;
  cursor:pointer;
}
.s_left_hide .act a {
  background: url(../img/2x.png) 80px no-repeat;
  color:white;
}
.s_left_btn{
  float:left;
  margin-top:15px;
  margin-left:60px;
  background:url(../img/2btn_black.png) no-repeat;
  width:77px;
  height:23px;
  color:white;
  cursor:pointer;
  text-align:center;
  padding-top:5px;
  font-size:14px;
  font-weight:bold;
}
.s_left_btn2{
  margin-left:140px;
  background:url(../img/2btn_red.png) no-repeat;
}
.s_left_hide form{
  float:left;
  margin-top:10px;
  padding-left:10px;
}
.s_left_hide input{
  width:120px;
  height:35px;
  padding-left:5px;
  margin-left:10px;
  margin-right:10px;
  border:1px solid #E3E3E3;
  margin-bottom:7px;
}

/* search right */
.s_right{
  margin-top:35px;
  margin-left:60px;
  width: -moz-calc(100% - 400px);
  width: -webkit-calc(100% - 400px);
  width: -o-calc(100% - 400px);
  width: calc(100% - 400px);
  float:left;
     -moz-transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
}
.s_right2{
  width: -moz-calc(100% - 110px);
  width: -webkit-calc(100% - 110px);
  width: -o-calc(100% - 110px);
  width: calc(100% - 110px);
}
.sort{
  font-size:14px;
}
.sort_one{
  margin-right:2%;
  padding:5px;
  border-bottom:3px solid #8d8d8d;
  float:left;
  font-size:13px;
  font-weight:bold;
}
.sort_one_last{
  margin-right:0px !important;
}
.sort_arrow{
  background:url(../img/sort_arrow_up_h.png) no-repeat;
  width:9px;
  height:9px;
  opacity:0.4;
  filter:alpha(opacity=40);
  float:right;
  margin-top:5px;
  margin-left:3px;
  cursor:pointer;
}
.sort_one .act{
  opacity:1;
  filter:alpha(opacity=100);
}
.sort_arrow:hover{
  opacity:1;
  filter:alpha(opacity=100);
}
.sort_arrow_d{
  margin-left:11px;
  background:url(../img/sort_arrow_down_h.png) no-repeat;
}
.az{
  width:9px;
  height:9px;
  float:right;
  margin-left:10px;
  cursor:pointer;
}
.sort_ico{
  width:29px;
  height:25px;
/*   margin-left:10px; */
  padding:5px;
  float:right;
  font-size:13px;
  font-weight:bold;
  cursor:pointer;
  margin-top:4px;
}
.sort_ico1{
  background:url(../img/2ico1_dark.png) no-repeat;
}
.sort_ico1:hover{
  background:url(../img/2ico1.png) no-repeat;
}
.sort_ico2{
  background:url(../img/2ico2_dark.png) no-repeat;
}
.sort_ico2:hover{
  background:url(../img/2ico2.png) no-repeat;
}
.sort_ico3{
  background:url(../img/2ico3_dark.png) no-repeat;
}
.sort_ico3:hover{
  background:url(../img/2ico3.png) no-repeat;
}
.sort .sort_ico1.act{
  background:url(../img/2ico1.png) no-repeat;
}
.sort .sort_ico2.act{
  background:url(../img/2ico2.png) no-repeat;
}
.sort .sort_ico3.act{
  background:url(../img/2ico3.png) no-repeat;
}
.search_list{
  float:left;
  width:100%;
  margin-top:20px;
}
.search_list img{
  float:left;
  padding:5px;
  border:#e3e3e3 1px solid;
  margin-right:20px;
}
.s_title{
  font-size:34px;
  font-weight:bold;
  text-decoration:none;
}
.s_title a{
  color:#464646;
}
.s_author{
  margin-bottom:10px;
  font-size:12px;
}
.s_author a{
  color:#464646;
  text-decoration:underline;
}
.s_author a:hover{
  text-decoration:none !important;
}
.s_text{
  font-weight:bold;
  font-size:12px;
  color:#464646;
}
.slb_price{
  color: #225B98;
  float: right;
  font-size: 14px;
  font-weight: 100;
  margin-top: -110px;
  width: 151px;
  font-weight:bold;
}
.slb_price1{
  font-weight:100;
  line-height: 40px;
  font-size:36px;
  border-bottom:3px solid #225b98;
}
.slb_price_btn{
  background:url(../img/2btn_blue.png) no-repeat;
  width:151px;
  height:27px;
  color:white;
  padding-top:10px;
  font-weight:bold;
  margin-bottom:2px;
  margin-top:2px;
  text-align:center;
  cursor:pointer;
}
.slb_price_btn:hover{
  text-decoration:underline;
}
.slb_price_btn img{
  border:none;
  float:right;
  margin-left: -40px;
  margin-right: 20px;
  margin-top: -8px;
}
.search_list_book{
  float:left;
  border-bottom:3px solid #464646;
  width:100%;
  padding-bottom:20px;
}
.search_drop2{
  overflow:hidden;
  width:100%;
  float:left;
    height:0px;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.search_drop{
  margin-left:5%;
  width:90%;
  float:left;
  overflow:hidden;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

}
.sd_top{
  padding-top:10px;
  background:url(../img/2gray_long.png) repeat-x;
  width:100%;
  height:25px;
  float:left;
  font-size:13px;
  font-weight:bold;
  color:#464646;
}
.sd_top_left{
  float: left;
  margin-left: 25px;
  margin-top: -10px;
}
.sd_top_right{
  float: right;
  margin-right: 20px;
  margin-top: -10px;
}

.sort_for_title{
  /*width:29px;*/
  height:15px;
  margin-left: 10px;
  margin-right: 30px;
  padding:5px;
  float:right;
  /*border-bottom:3px solid #8d8d8d;*/
  text-align:center;
  margin-top: 5px;
}

.sort_for{
  /*width:29px;*/
  height:15px;
  margin-left:18px;
  padding:5px;
  float:right;
  cursor:pointer;
  border-bottom:3px solid #8d8d8d;
  text-align:center;
}
.sort_for:hover{
  color:white;
}
.sort_for_long{
  /*width:100px;*/
}
.sd_format{
  width:100%;
  background:#F6F6F6;
  border-bottom:1px solid #8D8D8D;
  height:135px;
  font-size:12px;
  font-weight:bold;
  color:#464646;
  float:left;
}

.sd_format_filtered_out{
  width:100%;
  background:#F6F6F6;
  height:25px;
  font-size:12px;
  font-weight:bold;
  color:#888888;
  float:left;
}

.sd_format_info{
  float:left;
  margin:10px;
  margin-left:15px;
}

.sd_format_text{
  float:left;
  margin-top:60px;
}
.sd_format img{
  border:none;
  margin:15px;
  margin-top:30px;
  width:150px;
  height:75px;
}
.sd_price{
  color:#225b98;
  font-size:30px;
  float:right;
  margin-right:10px;
  margin-top:25px;
  width:120px;
  font-weight:100;
  text-align:center;
}
.sd_price a{
  margin-right:5px;
  background:url(../img/2btn_red_big.png) no-repeat;
  width:108px;
  height:27px;
  color:white;
  font-size:15px;
  text-align:center;
  float:right;
  padding-top:7px;
  font-weight:bold;
}
.sd_price a:hover{
  color:#464646;
}
.search_drop_hide{
  width:90%;
  margin-left:5%;
  background:#F6F6F6;
  border-bottom:3px solid #8D8D8D;
  height:10px;
  font-size:12px;
  font-weight:bold;
  color:#464646;
  float:left;
  position:relative;
  margin-bottom:30px;
}
.search_drop_hide_btn{
  background:url(../img/arrow_down_red.png) no-repeat;
  width:39px;
  height:24px;
  margin-left:48%;
  margin-top:10px;
  cursor:pointer;
}
.search_drop_hide_btn.act{
  background:url(../img/arrow_up_red.png) no-repeat;
}

.search_drop_upper_hide_btn{
  background:url(../img/arrow_up_red.png) no-repeat;
  width:39px;
  height:24px;
  margin-left:47.7%;
  margin-top:3px;
  cursor:pointer;
}

.page{
  float:right;
  font-size:11px;
  font-weight:bold;
  margin-bottom:30px;
  margin-top:15px;
}

.sort .page{
  margin-bottom:5px;
  margin-top:6px;
}



.page_img {
  float:left;
  padding-bottom:4px;
  border-bottom:3px solid #8D8D8D;
  margin-left:20px;
  color:#8D8D8D;
  padding-left:7px;
  padding-right:7px;
  height:8px;
}
.page_img1{
  width:14px;
  background:url(../img/page_l2.png) center no-repeat;
}
.page_img1:hover{
  background:url(../img/page_l2h.png) center no-repeat;
}
.page_img2{
  width:7px;
  background:url(../img/page_l1.png) center  no-repeat;
}
.page_img2:hover{
  background:url(../img/page_l1h.png) center no-repeat;
}
.page_img3{
  width:7px;
  background:url(../img/page_r1.png) center  no-repeat;
}
.page_img3:hover{
  background:url(../img/page_r1h.png) center no-repeat;
}
.page_img4{
  width:14px;
  background:url(../img/page_r2.png) center  no-repeat;
}
.page_img4:hover{
  background:url(../img/page_r2h.png) center no-repeat;
}
.page_number{
  float:left;
  margin-left:20px;
  padding-bottom:4px;
  border-bottom:3px solid #8D8D8D;
  font-size:13px !important;
  line-height:10px;
  padding-left:7px;
  padding-right:7px;
}
.page_number a{
  color:#8D8D8D;
  margin-left:2px;
  margin-right:2px;
}
.page_number a:hover{
  color:#225b98;
}

.page_active_number{
  color:#464646  !important;
  font-size:18px !important;
}


.page_goto{
  float:left;
  padding-bottom:4px;
  border-bottom:3px solid #8D8D8D;
  margin-left:20px;
  padding-left:7px;
  padding-right:7px;
  line-height:10px;
}
.page_goto label{
  float:left;
  color:#8D8D8D;
}
.page_goto form{
  float:left;
}
.page input[type=text]{
  background:url(../img/2paggin_input.png) no-repeat;
  width:29px;
  height:22px;
  border:none;
  padding-left:4px;
  margin-left:10px;    
  margin-top: -12px;
}

div#s_right.loading{
    opacity: 0.4;
}

img#loading_img {
    display: none;
}

.loading img#loading_img{
    position: fixed;
    z-index: 1020;
    margin: 50% 50%;
}

.no_results{
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color:#6D6D6D;
}

.no_results p.msg{
    margin-top: 20px;
    font-size: 24px;
}

.no_results p.submsg{
    margin-top: 20px;
    font-size: 14px;
}