.color_button{
  font-weight:bold;
  text-align:center;
  cursor:pointer;
  color:white;

  a{
    color:white;
  }
  &:hover{
    text-decoration:underline;
    color:white;
  }
}

.blue_button{
  @extend .color_button;
  background:url(../img/2btn_blue.png) no-repeat;
}

.red_button{
  @extend .color_button;
  background:url(../img/2btn_red_big.png);
  background-size: 100%;
}

.unselectable{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.img_index_frame{
  margin: 10px;
  float: left;
  padding: 5px;
  border: #e3e3e3 1px solid;
}
