.table_cell, .record_table_cell, .record .service_logo_box, .record .record_formats, .record .record_info, .record .payment_info, .record .record_price, .records_headers .header_box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table-cell;
  width: 20%; }

.record_table_cell, .record .service_logo_box, .record .record_formats, .record .record_info, .record .payment_info, .record .record_price {
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #464646; }

.records_panel {
  display: table;
  border-collapse: collapse;
  width: 1000px; }

.records_headers {
  display: table-row;
  margin-bottom: 10px;
  height: 25px;
  color: #464646;
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  position: relative; }
  .records_headers .header_box {
    background-color: #b2b2b2;
    height: 15px;
    margin-left: 18px;
    padding: 5px;
    cursor: pointer;
    text-align: center; }
    .records_headers .header_box .sortable {
      border-bottom: 3px solid #8D8D8D;
      display: inline-block;
      padding: 5px; }
      .records_headers .header_box .sortable:hover {
        color: #FFFFFF; }

.record {
  display: table-row;
  background: #f6f6f6;
  border-bottom: 1px solid #8D8D8D; }
  .record .service_logo_box img {
    border: none;
    margin: 15px;
    margin-top: 30px;
    width: 150px;
    height: 75px; }
  .record .record_formats {
    padding-left: 10px;
    text-align: left; }
  .record .record_price {
    color: #225b98;
    font-size: 30px;
    width: 120px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle; }
    .record .record_price .shipment {
      margin-top: -5px;
      margin-bottom: 7px;
      font-weight: normal;
      font-size: 12px;
      display: block; }
    .record .record_price a {
      background: url(../img/2btn_red_big.png) no-repeat;
      width: 108px;
      height: 27px;
      color: white;
      font-size: 15px;
      text-align: center;
      padding-top: 7px;
      font-weight: bold;
      display: block;
      margin: auto; }
    .record .record_price a:hover {
      color: #464646; }

.records_filtered_out {
  width: 1000px;
  background: #f6f6f6;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #464646;
  float: left;
  border-bottom: 3px solid #8D8D8D;
  padding-bottom: 8px; }
  .records_filtered_out .info {
    margin: 10px;
    margin-left: 15px; }

.records_panel_wrapper {
  margin-bottom: 80px; }
