@import "generic/L_container.scss";
@import "record_details";
@import "basics";

.L_left_panel{
  padding-top: $padding-top;

  .cover{
    width:  200px;
    margin: auto;
    display:block;
    padding: 5px;
    border: #e3e3e3 1px solid;
  }

  .rating{
    margin-top: 20px;
    img{
      margin: 0 5px;
    }
    font-size:42px;
    font-weight: bold;
    text-align: center;
  }

  .track{
    margin: auto;
    margin-top: 30px;
    width: 220px;

    input{
      margin-top: 20px;
      margin-left: 10px;
      width: 65px;
      height: 27px;
      font-size: 20px;
      padding-left: 10px;
    }

    .currency{
      font-size: 24px;
    }

    .track_button{
      @extend .blue_button;
      width:80px;
      height:27px;

      float: right;
      margin-top: 18px;

      padding-top: 5px;
      padding-right: 20px;

      cursor:pointer;
      img{
        border: none;
        float: right;
        margin-left: -20px;
        margin-right: -10px;
        margin-top: 0px;
      }
    }
  }
}

.L_top_panel {
  .title{
    font-size:34px;
    font-weight:bold;
    text-decoration:none;
  }

  .authors{
    margin-top: 20px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    a{
      color: #000000;
    }
  }

  .publisher{
    font-size:20px;
    span{
      font-weight:bold;
    }
  }

  .description{
    margin: 20px 40px 0 0;
  }

  .filter_switcher{
    float: right;
    margin: 20px 40px 20px 0;
  }
}

@import "book/filters";

#disqus_thread{
  width: 95%;
  min-width: 750px;
}

#filter_switcher{
  float: right;
  cursor: pointer;
  margin: 10px 10px -10px 0;
  color: #00468B;
}