.main_container {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  float: right;
  padding: 20px;
  width: 100%; }

.L_left_panel {
  background-color: #f6f6f6;
  border-bottom: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  width: 290px;
  padding-bottom: 50px;
  margin-bottom: 50px; }

.wrap_panel {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 290px; }

.L_top_panel {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  float: right;
  background-color: #f6f6f6;
  border-bottom: 2px solid #e3e3e3; }

.color_button, .blue_button, .L_left_panel .track .track_button, .red_button, .record .record_price .goto_shop {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: white; }
  .color_button a, .blue_button a, .L_left_panel .track .track_button a, .red_button a, .record .record_price .goto_shop a {
    color: white; }
  .color_button:hover, .blue_button:hover, .L_left_panel .track .track_button:hover, .red_button:hover, .record .record_price .goto_shop:hover {
    text-decoration: underline;
    color: white; }

.blue_button, .L_left_panel .track .track_button {
  background: url(../img/2btn_blue.png) no-repeat; }

.red_button, .record .record_price .goto_shop {
  background: url(../img/2btn_red_big.png);
  background-size: 100%; }

.table_cell, .record_table_cell, .record .service_logo_box, .record .record_formats, .record .record_info, .record .payment_info, .record .record_price, .records_headers .header_box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table-cell;
  width: 20%; }

.record_table_cell, .record .service_logo_box, .record .record_formats, .record .record_info, .record .payment_info, .record .record_price {
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #464646; }

.records_panel {
  display: table;
  border-collapse: collapse;
  width: 1000px; }

.records_headers {
  display: table-row;
  margin-bottom: 10px;
  height: 25px;
  color: #464646;
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  cursor: pointer; }
  .records_headers .header_box {
    background-color: #b2b2b2;
    height: 15px;
    margin-left: 18px;
    padding: 5px;
    cursor: pointer;
    text-align: center; }
    .records_headers .header_box .sortable {
      border-bottom: 3px solid #8D8D8D;
      display: inline-block;
      padding: 5px; }
      .records_headers .header_box .sortable:hover {
        color: #FFFFFF; }

.record {
  display: table-row;
  background: #f6f6f6;
  border-bottom: 1px solid #8D8D8D; }
  .record .service_logo_box img {
    border: none;
    margin: 15px;
    margin-top: 30px;
    width: 150px;
    height: 75px; }
  .record .record_formats {
    padding-left: 10px;
    text-align: left; }
  .record .record_price {
    color: #225b98;
    font-size: 30px;
    width: 120px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle; }
    .record .record_price .shipment {
      margin-top: -5px;
      margin-bottom: 7px;
      font-weight: normal;
      font-size: 12px;
      display: block; }
    .record .record_price .goto_shop {
      width: 108px;
      height: 27px;
      padding-top: 7px;
      font-size: 15px;
      margin: auto; }

.records_filtered_out {
  width: 1000px;
  background: #f6f6f6;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #464646;
  float: left;
  border-bottom: 3px solid #8D8D8D;
  padding-bottom: 8px; }
  .records_filtered_out .info {
    margin: 10px;
    margin-left: 15px; }

.records_panel_wrapper {
  margin-bottom: 80px; }

.color_button, .blue_button, .L_left_panel .track .track_button, .red_button, .record .record_price .goto_shop {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: white; }
  .color_button a, .blue_button a, .L_left_panel .track .track_button a, .red_button a, .record .record_price .goto_shop a {
    color: white; }
  .color_button:hover, .blue_button:hover, .L_left_panel .track .track_button:hover, .red_button:hover, .record .record_price .goto_shop:hover {
    text-decoration: underline;
    color: white; }

.blue_button, .L_left_panel .track .track_button {
  background: url(../img/2btn_blue.png) no-repeat; }

.red_button, .record .record_price .goto_shop {
  background: url(../img/2btn_red_big.png);
  background-size: 100%; }

.L_left_panel {
  padding-top: 40px; }
  .L_left_panel .cover {
    width: 200px;
    margin: auto;
    display: block;
    padding: 5px;
    border: #e3e3e3 1px solid; }
  .L_left_panel .rating {
    margin-top: 20px;
    font-size: 42px;
    font-weight: bold;
    text-align: center; }
    .L_left_panel .rating img {
      margin: 0 5px; }
  .L_left_panel .track {
    margin: auto;
    margin-top: 30px;
    width: 220px; }
    .L_left_panel .track input {
      margin-top: 20px;
      margin-left: 10px;
      width: 65px;
      height: 27px;
      font-size: 20px;
      padding-left: 10px; }
    .L_left_panel .track .currency {
      font-size: 24px; }
    .L_left_panel .track .track_button {
      width: 80px;
      height: 27px;
      float: right;
      margin-top: 18px;
      padding-top: 5px;
      padding-right: 20px;
      cursor: pointer; }
      .L_left_panel .track .track_button img {
        border: none;
        float: right;
        margin-left: -20px;
        margin-right: -10px;
        margin-top: 0px; }

.L_top_panel .title {
  font-size: 34px;
  font-weight: bold;
  text-decoration: none; }
.L_top_panel .authors {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none; }
  .L_top_panel .authors a {
    color: #000000; }
.L_top_panel .publisher {
  font-size: 20px; }
  .L_top_panel .publisher span {
    font-weight: bold; }
.L_top_panel .description {
  margin: 20px 40px 0 0; }
.L_top_panel .filter_switcher {
  float: right;
  margin: 20px 40px 20px 0; }

.filter_box_header {
  background-color: #00468b; }

.filter_box_bar1 {
  background-color: white;
  height: 1px; }

.filter_box_bar2 {
  background-color: #ab0000;
  height: 3px; }

.filter_section {
  padding: 4px 8px 10px 8px;
  float: left;
  min-width: 160px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .filter_section .act {
    background: #225b98 url(../img/2x.png) 100px no-repeat;
    color: white;
    list-style-image: url("../img/blue_point.png"); }

.filter_section .act a {
  background: url(../img/2x.png) 80px no-repeat;
  color: white; }

.s_left .act .filter_section {
  display: block; }

.filter_section .act a {
  background: url(../img/2x.png) 80px no-repeat;
  color: white; }

.filter_section_arrow {
  float: left;
  background: url(../img/2arrow_up_black.png) no-repeat;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 7px;
  cursor: pointer; }

.filter_section_header {
  float: left;
  padding-left: 5px;
  margin: 1px 30px 1px 0;
  width: 110px;
  font-size: 18px;
  cursor: pointer; }

.filter_clear_button {
  background: url(../img/2btn_red.png) no-repeat;
  color: white;
  cursor: pointer;
  text-align: center;
  font-weight: bold; }
  .filter_clear_button a {
    color: white; }
  .filter_clear_button:hover {
    text-decoration: underline;
    color: white; }

.filter_content.price form {
  float: left;
  margin-top: 10px;
  padding-left: 10px; }
.filter_content.price input {
  width: 60%;
  height: 35px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #E3E3E3;
  margin-bottom: 7px; }

.filter_content.bullet_list ul {
  list-style-position: outside; }
.filter_content.bullet_list li {
  margin-left: 35px;
  margin-bottom: 1px;
  float: left;
  width: 85%;
  list-style-image: url("../img/dark_point.png"); }
  .filter_content.bullet_list li a {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 90px;
    font-size: 13px;
    cursor: pointer; }

.filter_content.multiselect_list form select {
  margin: 5px;
  width: 95%;
  height: 260px; }
  .filter_content.multiselect_list form select select {
    width: 100%; }

.table_cell, .record_table_cell, .record .service_logo_box, .record .record_formats, .record .record_info, .record .payment_info, .record .record_price, .records_headers .header_box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table-cell;
  width: 20%; }

.filter_panel {
  display: table;
  border-collapse: collapse;
  max-width: 1000px;
  background-color: #f6f6f6;
  border-bottom: 2px solid #e3e3e3;
  margin-bottom: 20px; }

.filter_row {
  display: table-row; }

.filter_box_header {
  border-right: 2px solid #00468b;
  border-left: 2px solid #00468b;
  margin-bottom: 10px;
  height: 33px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-top: 6px;
  text-align: center;
  cursor: pointer;
  position: relative; }

.filter_box_bar1 {
  border-right: 2px solid white;
  border-left: 2px solid white; }

.filter_box_bar2 {
  border-right: 2px solid #ab0000;
  border-left: 2px solid #ab0000; }

.filter_box {
  vertical-align: top;
  border-right: 2px solid #e3e3e3;
  border-left: 2px solid #e3e3e3;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.filter_box_clear {
  border-right: 2px solid #e3e3e3;
  border-left: 2px solid #e3e3e3; }

.filter_clear_button {
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 2px;
  width: 62px;
  height: 18px;
  font-size: 12px; }

#disqus_thread {
  width: 1000px; }
