* {
  margin: 0;
  padding: 0; }

img {
  border: none; }

html {
  height: 100%; }

body {
  background: #fff;
  font-family: 'PT Sans', sans-serif; }

a {
  text-decoration: none; }

/* menu */
.container {
  /*   width:960px; */ }

.menu {
  background: url(../img/menu_bg.png) repeat-x;
  width: 100%;
  height: 57px;
  list-style: none; }

.menu li {
  float: left;
  width: 115px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 18px;
  font-size: 15px;
  border-right: 1px solid #e3e3e3; }

.menu .act a {
  color: #122e3d !important; }

.menu .act {
  background: url(../img/menu_tringle_hover.png) bottom center no-repeat; }

.menu li a {
  color: #bbbbbb;
  text-decoration: none; }

.menu li a:hover {
  color: #122e3d; }

.menu2 {
  float: right !important;
  width: 110px !important;
  border-right: none;
  border-left: 1px solid #e3e3e3;
  font-size: 13px !important;
  font-weight: bold;
  padding-top: 22px !important;
  padding-bottom: 13px !important; }

.menu2a {
  border-bottom: 5px solid #225b98; }

.menu2a a {
  color: #225b98 !important; }

.menu2b {
  border-bottom: 5px solid #ab0000; }

.menu2b a {
  color: #ab0000 !important; }

.s_index_top_bg.sticky .logo img {
  margin-top: 8px;
  height: 35px; }

.s_index_top_bg.sticky .search_input2 {
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.search {
  float: left;
  width: 750px;
  margin-left: 120px;
  margin-top: 80px;
  font-size: 30px;
  color: white; }

.search_text {
  text-align: center;
  width: 710px;
  margin-bottom: 20px; }

.search_input {
  background: url(../img/search_input_bg.png) no-repeat;
  width: 504px;
  height: 105px;
  float: left; }

.search_input2 {
  width: 467px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  background: white url(../img/search_hover_bg3.png) repeat-x;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 3px solid #ab0000;
  position: relative;
  z-index: 100; }

.search_box input[type="text"] {
  border: none;
  width: 447px;
  height: 66px;
  padding-left: 20px;
  font-size: 18px;
  /*  position:relative;
    z-index:120;*/
  background: none; }

/*.search_input2:hover .search_input_hover{
  display:block !important;
}*/
.search_box input[type="text"] {
  border: none;
  width: 447px;
  height: 66px;
  padding-left: 20px;
  font-size: 18px;
  /*  position:relative;
    z-index:120;*/
  background: none; }

.search_input_hover {
  width: 460px;
  list-style: none;
  float: left;
  /*   display:none; */
  font-size: 22px;
  margin-top: -1000px; }

.search_input2 .search_input_hover {
  margin-top: 0px; }

.search_input_hover li {
  /*   margin-top:10px; */
  height: 50px;
  width: 467px; }

.search_input_hover li:hover {
  background: #E6ECFF; }

.search_input_hover #last {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.search_input_hover li a {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid gray;
  color: #777;
  text-decoration: none;
  margin-left: 20px;
  float: left;
  width: 440px; }

.search_input_hover li a:hover {
  color: #333; }

.sih_who {
  float: right;
  color: #999;
  margin-right: 20px; }

.search_input_hover li a:hover .sih_who {
  color: #ab0000; }

.search_box input[type="submit"] {
  float: left;
  border: none;
  background: url(../img/search_btn.png) no-repeat;
  width: 205px;
  height: 105px;
  color: white;
  font-size: 28px;
  text-shadow: #333 1px 1px 1px;
  cursor: pointer; }

.search_box input[type="submit"]:hover {
  padding-top: 2px;
  font-size: 30px !important; }

.search_more {
  float: right;
  font-size: 13px;
  color: #40a7da;
  margin-top: 10px;
  margin-right: 65px; }

.search_more a {
  text-decoration: underline;
  color: #40a7da; }

.search_more a:hover {
  color: white; }

.search_input_hover {
  width: 460px;
  list-style: none;
  float: left;
  /*   display:none; */
  font-size: 22px;
  margin-top: -1000px; }

.search_input2 .search_input_hover {
  margin-top: 0px; }

/*.search_input_hover{
  width:460px;
  list-style:none;
  float:left;
  font-size:22px;
  margin-top:0px;
}*/
.search_input_hover li {
  /*   margin-top:10px; */
  height: 50px;
  width: 467px; }

.search_input_hover li:hover {
  background: #E6ECFF; }

.search_input_hover #last {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.search_input_hover li a {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid gray;
  color: #777;
  text-decoration: none;
  margin-left: 20px;
  float: left;
  width: 440px; }

.search_input_hover li a:hover {
  color: #333; }

.sih_who {
  float: right;
  color: #999;
  margin-right: 20px; }

.search_input_hover li a:hover .sih_who {
  color: #ab0000; }

.search_box input[type="submit"] {
  float: left;
  border: none;
  background: url(../img/search_btn.png) no-repeat;
  width: 205px;
  height: 105px;
  color: white;
  font-size: 28px;
  text-shadow: #333 1px 1px 1px;
  cursor: pointer; }

.search_box input[type="submit"]:hover {
  padding-top: 2px;
  font-size: 30px !important; }

.search_more {
  float: right;
  font-size: 13px;
  color: #40a7da;
  margin-top: 10px;
  margin-right: 65px; }

.search_more a {
  text-decoration: underline;
  color: #40a7da; }

.search_more a:hover {
  color: white; }

/* search */
.index_top_bg_place_holder {
  height: 128px; }

.s_index_top_bg {
  background: url(../img/2top_bg.png) repeat-x !important;
  height: 128px; }

.s_index_top_bg.sticky {
  background: url(../img/2top_bg2.png) repeat-x !important;
  height: 128px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  margin-top: -126px; }

.s_index_top_bg .index_top {
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 40px !important;
  width: 100%;
  position: relative; }

.s_index_top_bg.sticky .index_top {
  padding-top: 0px !important;
  position: fixed;
  height: 55px;
  z-index: 1000;
  top: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

.s_index_top_bg .logo {
  margin-left: 3%; }

.s_index_top_bg .search {
  margin-top: 50px !important;
  margin-left: 0px !important;
  position: absolute;
  top: 0px;
  left: 350px;
  /*   width:75% !important; */
  width: -moz-calc(100% - 400px);
  width: -webkit-calc(100% - 400px);
  width: -o-calc(100% - 400px);
  width: calc(100% - 400px); }

.s_index_top_bg.sticky .search {
  margin-top: 5px !important; }

.s_index_top_bg .search_box {
  /*   background:url(../img/2input.png) no-repeat; */
  background: none !important;
  width: 100%;
  height: 50px; }

.s_index_top_bg .search_box input[type="submit"] {
  background: url(../img/2input_btn.png) no-repeat;
  width: 199px;
  height: 50px;
  font-size: 22px;
  font-weight: bold; }

.s_index_top_bg.sticky .search_box input[type="submit"] {
  height: 30px;
  margin-top: 6px; }

.s_index_top_bg .search_box input[type="submit"]:hover {
  font-size: 24px !important; }

.s_index_top_bg .search_box input[type="text"] {
  width: calc(100% - 19px);
  height: 32px; }

.s_index_top_bg.sticky .search_box input[type="text"] {
  height: 22px; }

.s_index_top_bg .search_input {
  background: url(../img/input_center.png);
  /*   width:45% !important; */
  height: 50px;
  width: -moz-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  width: -o-calc(100% - 250px);
  width: calc(100% - 250px); }

.s_index_top_bg.sticky .search_input {
  background: none;
  height: 45px; }

.right_input_bg {
  float: left;
  background: url(../img/input_left.png);
  width: 10px;
  height: 50px; }

.s_index_top_bg.sticky .right_input_bg {
  background: none;
  height: 45px;
  top: 0; }

.s_index_top_bg .search_input2 {
  margin-left: 0px !important;
  margin-top: 6px !important;
  width: 97% !important;
  font-size: 20px; }

.s_index_top_bg .search_input_hover {
  width: 100%; }

.s_index_top_bg .search_input_hover li {
  width: 100%; }

.s_index_top_bg .search_input_hover a {
  margin-left: 5%;
  width: 90%; }

.s_index_top_bg .search_more {
  background: url(../img/2input_btn_more.png) no-repeat;
  width: 199px;
  height: 40px;
  padding-top: 13px;
  float: left;
  border: none;
  color: white;
  font-size: 15px;
  line-height: 14px;
  font-weight: bold;
  text-shadow: #333 1px 1px 1px;
  cursor: pointer;
  text-align: center;
  margin-top: 0px !important;
  margin-left: 15px;
  margin-right: 0px; }

.s_index_top_bg.sticky .search_more {
  height: 37px;
  padding-top: 8px; }

.s_index_top_bg .search_more a {
  color: white;
  text-decoration: none; }

.s_index_top_bg .search_more a:hover {
  /*   color:#40A7DA; */
  font-size: 17px; }

.color_button, .blue_button, .red_button {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: white; }
  .color_button a, .blue_button a, .red_button a {
    color: white; }
  .color_button:hover, .blue_button:hover, .red_button:hover {
    text-decoration: underline;
    color: white; }

.blue_button {
  background: url(../img/2btn_blue.png) no-repeat; }

.red_button {
  background: url(../img/2btn_red_big.png);
  background-size: 100%; }

.unselectable {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

.img_index_frame, .blogger_sub_box img, .index_box img {
  margin: 10px;
  float: left;
  padding: 5px;
  border: #e3e3e3 1px solid; }

.plain_text {
  font-size: 14px;
  text-decoration: none;
  margin: 50px 10%; }
  .plain_text h1 {
    text-align: center;
    margin-bottom: 20px; }

@media all and (max-width: 1600px) {
  .index_blogger_box_wrapper.extra {
    display: none; }

  .index_blogger_box,
  .review_sub_box {
    height: 220px; } }
@media all and (min-width: 1600px) {
  .index_blogger_box,
  .review_sub_box {
    height: 260px; } }
.index_blogger_box {
  width: 100%;
  margin: 25px 0; }

.blogger_sub_box {
  width: 120px;
  height: 180px;
  float: left; }
  .blogger_sub_box .blogger_name {
    font-size: 16px;
    color: #666; }
  .blogger_sub_box .blogger_blog {
    margin-top: 15px;
    font-size: 12px;
    color: #777; }
    .blogger_sub_box .blogger_blog a {
      color: #225b98; }

.review_sub_box_wrapper {
  padding-left: 120px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.review_sub_box {
  margin-left: 30px;
  margin-top: 9px;
  border: 7px solid #e3e3e3;
  float: left;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  color: #666; }
  .review_sub_box img {
    border: none; }
  .review_sub_box .blogger_review_arrow {
    position: relative;
    margin-left: -50px; }

.review_sub_box_content {
  margin: 15px 15px 0 15px; }
  .review_sub_box_content img {
    float: left;
    padding-right: 30px;
    padding-bottom: 20px; }
  .review_sub_box_content h2 {
    font-size: 16px;
    font-weight: bold;
    color: #225b98;
    padding-bottom: 10px; }
  .review_sub_box_content a {
    color: #225b98; }

.review_sub_box_footer {
  float: right;
  height: 30px;
  line-height: 40px;
  width: 100%;
  padding-left: 25px;
  padding-bottom: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
  text-align: left; }
  .review_sub_box_footer img {
    float: right;
    display: box;
    padding: 0;
    margin: 10px;
    width: 160px; }
  .review_sub_box_footer span {
    float: right;
    text-align: right;
    display: box;
    padding: 0;
    margin: 10px;
    width: 160px;
    font-size: 20px; }

/* footer */
.footer {
  min-width: 600px;
  padding: 0 200px 0 0;
  white-space: nowrap;
  overflow: hidden;
  border-top: 7px solid #e3e3e3; }

.col {
  position: relative;
  display: inline-block;
  vertical-align: top; }

.col-content {
  white-space: normal;
  float: left;
  color: #888;
  font-size: 11px;
  padding: 20px;
  font-family: "Arial"; }

.footer_flank {
  width: 50%;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3; }

.footer_center {
  width: 200px; }

.footer_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #777; }

.footer_text_bold {
  font-weight: bold;
  color: #777;
  margin-bottom: 10px; }

.footer_footer {
  float: left;
  width: 100%;
  height: 25px;
  background: #00407b;
  color: #7a8bb5;
  font-size: 11px;
  padding-top: 11px;
  margin-left: -1px;
  font-family: "Arial"; }

.ff_left {
  float: left;
  margin-left: 20px; }

.ff_right {
  float: right;
  margin-right: 20px; }

.ff_right a {
  color: #7a8bb5;
  text-decoration: none; }

.ff_right a:hover {
  color: white; }

/* top_index */
.index_top_bg {
  background: url(../img/index_top_bg.jpg) top center no-repeat;
  height: 560px; }

.index_top_bg_wrapper {
  background: url(../img/itbpx.jpg) top left repeat;
  height: 560px; }

.index_top {
  margin: 0 auto;
  padding-top: 60px;
  width: 960px; }

@media all and (max-width: 1600px) {
  .index_bottom {
    width: 900px; }

  .index_box.extra {
    display: none; }

  .index_more {
    width: 300px; } }
@media all and (min-width: 1600px) {
  .index_bottom {
    width: 1500px; }

  .three_index_box.flank {
    width: 600px; }

  .index_subtitle.flank {
    width: 600px; }

  .index_more.flank {
    width: 600px; }

  .index_box.extra {
    display: none; }

  .flank .index_box.extra {
    display: block; }

  .index_blogger_box {
    width: 750px;
    float: left; } }
img.loader {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px; }

.logo {
  height: 100px;
  margin: 0 auto;
  width: 100px; }

.social {
  float: right;
  margin-top: 12px;
  color: white;
  font-weight: bold;
  font-size: 17px; }

.social img {
  margin-bottom: -7px;
  margin-left: 12px; }

.index_group, .index_bloggers, .index_subtitle {
  margin: 30px 0;
  float: left;
  text-align: left;
  color: #ab0000;
  font-size: 20px;
  font-weight: bold; }

.index_bloggers, .index_subtitle {
  text-align: center;
  width: 100%; }
  .index_bloggers .b_right, .index_subtitle .b_right {
    margin: 0 12px 5px 0; }
  .index_bloggers .b_center, .index_subtitle .b_center {
    margin-bottom: 5px;
    width: -moz-calc(50% - 130px);
    width: -webkit-calc(50% - 130px);
    width: -o-calc(50% - 130px);
    width: calc(50% - 130px);
    height: 3px; }
  .index_bloggers .b_left, .index_subtitle .b_left {
    margin: 0 0 5px 12px; }

.three_index_box {
  width: 300px;
  float: left; }

.index_bottom {
  margin: 0 auto;
  min-height: 720px; }

.index_title {
  text-align: center;
  color: #4c4c4c;
  font-size: 19px;
  margin-top: 30px; }

.index_subtitle {
  width: 300px; }
  .index_subtitle .b_center {
    margin-bottom: 5px;
    width: -moz-calc(50% - 110px);
    width: -webkit-calc(50% - 110px);
    width: -o-calc(50% - 110px);
    width: calc(50% - 110px);
    height: 3px; }

.index_box {
  width: 290px;
  position: relative;
  float: left;
  margin-bottom: 20px;
  padding-left: 10px; }

.ib_text {
  float: left;
  width: 145px;
  margin-top: 10px;
  position: relative;
  z-index: 10; }

.ib_text1 {
  width: 145px; }

.ib_text1 a {
  color: #464646;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px; }

.ib_text1 a:hover {
  color: #ab0000;
  text-decoration: underline; }

.ib_text2 {
  font-size: 12px; }

.ib_text2 a {
  color: #e3e3e3;
  text-decoration: underline; }

.ib_text2 a:hover {
  color: #ab0000; }

.ib_text_pos {
  position: absolute;
  top: 53px;
  left: 0px; }

.ib_text_pos a {
  text-decoration: none !important; }

.ib_text3 {
  color: #225b98;
  font-weight: bold;
  cursor: default; }

.ib_price {
  font-size: 28px;
  color: #225b98;
  /*   font-weight:bold; */
  cursor: default; }

.ib_price2 {
  color: #225b98;
  font-size: 12px;
  cursor: default; }

.ib_line {
  width: 146px;
  margin-bottom: 1px;
  height: 1px;
  border-bottom: 1px solid #225b98; }

.ib_btn {
  background: url(../img/btn_blue.png) no-repeat;
  width: 37px;
  height: 35px;
  float: left; }

.ib_btn2 {
  float: left;
  background: url(../img/btn_red.png) no-repeat;
  width: 108px;
  height: 27px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 8px;
  margin-left: 1px; }

.index_box:hover .index_box_h {
  display: block; }

.index_box_h {
  padding-left: 10px;
  position: absolute;
  display: none;
  background: #e6ecff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border: #dae5ff 1px solid;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 280px;
  height: 180px;
  top: 0px; }

.ibh_image {
  background: #172d5e;
  margin-top: 10px;
  margin-left: 0px;
  color: white;
  text-align: center;
  width: 100px;
  height: 148px;
  font-size: 12px;
  font-weight: bold; }

.ibh_image a {
  padding-top: 20px;
  float: left;
  color: white;
  width: 100px;
  height: 128px;
  text-decoration: none; }

.ibh_image a .ibh_image_format {
  color: #92ade9;
  font-size: 14px;
  margin-top: 10px; }

.x {
  position: absolute;
  top: 4px;
  right: 4px;
  background: url(../img/x.png) no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 20; }

.index_more {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  font-size: 14px; }

.index_more a {
  color: #225b98; }

.index_more a:hover {
  color: black; }

.page {
  display: none; }
