.loginform {
  z-index: 120;
  position: absolute;
  left: -moz-calc(100% - 300px);
  left: -webkit-calc(100% - 300px);
  left: -o-calc(100% - 300px);
  left: calc(100% - 300px);
  display: none;
  width: 300px;
  height: 180px;
  float: right;
  background-color: #ffffff;
  border-width: .1em;
  border-style: solid;
  border-color: #000000; }

.loginform.act {
  display: block; }

.registerform {
  z-index: 120;
  position: absolute;
  left: -moz-calc(100% - 300px);
  left: -webkit-calc(100% - 300px);
  left: -o-calc(100% - 300px);
  left: calc(100% - 300px);
  display: none;
  width: 300px;
  height: 230px;
  float: right;
  background-color: #ffffff;
  border-width: .1em;
  border-style: solid;
  border-color: #000000; }

.registerform.act {
  display: block; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }
