.main_container {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  float: right;
  padding: 20px;
  width: 100%; }

.L_left_panel {
  background-color: #f6f6f6;
  border-bottom: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  height: 600px;
  width: 290px; }

.wrap_panel {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 290px; }

.L_top_panel {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  float: right;
  background-color: #f6f6f6;
  border-bottom: 2px solid #e3e3e3; }

.filter_section {
  padding: 4px 8px 10px 8px;
  float: left;
  min-width: 160px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .filter_section .act {
    background: #225b98 url(../img/2x.png) 100px no-repeat;
    color: white;
    list-style-image: url("../img/blue_point.png"); }

.filter_section .act a {
  background: url(../img/2x.png) 80px no-repeat;
  color: white; }

.s_left .act .filter_section {
  display: block; }

.filter_section .act a {
  background: url(../img/2x.png) 80px no-repeat;
  color: white; }

.filter_section_arrow {
  float: left;
  background: url(../img/2arrow_up_black.png) no-repeat;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 7px;
  cursor: pointer; }

.filter_section_header {
  float: left;
  padding-left: 5px;
  margin: 1px 30px 1px 0;
  width: 110px;
  font-size: 18px;
  cursor: pointer; }

.filter_content.price form {
  float: left;
  margin-top: 10px;
  padding-left: 10px; }
.filter_content.price input {
  width: 50%;
  height: 35px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #E3E3E3;
  margin-bottom: 7px; }

.filter_content.bullet_list ul {
  list-style-position: outside; }
.filter_content.bullet_list li {
  margin-left: 35px;
  margin-bottom: 1px;
  float: left;
  width: 95px;
  list-style-image: url("../img/dark_point.png"); }
  .filter_content.bullet_list li a {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 90px;
    font-size: 13px;
    cursor: pointer; }

.filter_content.multiselect_list form select {
  margin: 5px;
  width: 95%;
  height: 260px; }
  .filter_content.multiselect_list form select select {
    width: 100%; }

.table_cell, .record_table_cell, .record .service_logo_box, .record .record_formats, .record .record_info, .record .payment_info, .record .record_price, .records_headers .header_box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table-cell;
  width: 20%; }

.filter_panel {
  display: table;
  border-collapse: collapse;
  max-width: 1000px;
  background-color: #f6f6f6;
  border-bottom: 2px solid #e3e3e3;
  margin-bottom: 20px; }

.filter_row {
  display: table-row; }

.filter_box_header {
  background-color: #00468b;
  border-right: 2px solid #00468b;
  border-left: 2px solid #00468b;
  margin-bottom: 10px;
  height: 33px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-top: 6px;
  text-align: center;
  cursor: pointer;
  position: relative; }

.filter_box_bar1 {
  background-color: white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  height: 1px; }

.filter_box_bar2 {
  background-color: #ab0000;
  border-right: 2px solid #ab0000;
  border-left: 2px solid #ab0000;
  height: 5px; }

.filter_box {
  vertical-align: top;
  border-right: 2px solid #e3e3e3;
  border-left: 2px solid #e3e3e3;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.filter_box_clear {
  border-right: 2px solid #e3e3e3;
  border-left: 2px solid #e3e3e3; }

.filter_clear_button {
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  background: url(../img/2btn_red.png) no-repeat;
  width: 62px;
  height: 18px;
  color: white;
  cursor: pointer;
  text-align: center;
  padding-top: 2px;
  font-size: 12px;
  font-weight: bold; }

.table_cell, .record_table_cell, .record .service_logo_box, .record .record_formats, .record .record_info, .record .payment_info, .record .record_price, .records_headers .header_box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: table-cell;
  width: 20%; }

.record_table_cell, .record .service_logo_box, .record .record_formats, .record .record_info, .record .payment_info, .record .record_price {
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #464646; }

.records_panel {
  display: table;
  border-collapse: collapse;
  width: 1000px; }

.records_headers {
  display: table-row;
  margin-bottom: 10px;
  height: 25px;
  color: #464646;
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
  cursor: pointer; }
  .records_headers .header_box {
    background-color: #b2b2b2;
    height: 15px;
    margin-left: 18px;
    padding: 5px;
    cursor: pointer;
    text-align: center; }
    .records_headers .header_box .sortable {
      border-bottom: 3px solid #8D8D8D;
      display: inline-block;
      padding: 5px; }
      .records_headers .header_box .sortable:hover {
        color: #FFFFFF; }

.record {
  display: table-row;
  background: #f6f6f6;
  border-bottom: 1px solid #8D8D8D; }
  .record .service_logo_box img {
    border: none;
    margin: 15px;
    margin-top: 30px;
    width: 150px;
    height: 75px; }
  .record .record_formats {
    padding-left: 10px;
    text-align: left; }
  .record .record_price {
    color: #225b98;
    font-size: 30px;
    width: 120px;
    font-weight: 100;
    text-align: center;
    vertical-align: middle; }
    .record .record_price .shipment {
      margin-top: -5px;
      margin-bottom: 7px;
      font-weight: normal;
      font-size: 12px;
      display: block; }
    .record .record_price a {
      background: url(../img/2btn_red_big.png) no-repeat;
      width: 108px;
      height: 27px;
      color: white;
      font-size: 15px;
      text-align: center;
      padding-top: 7px;
      font-weight: bold;
      display: block;
      margin: auto; }
    .record .record_price a:hover {
      color: #464646; }

.records_filtered_out {
  width: 1000px;
  background: #f6f6f6;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #464646;
  float: left;
  border-bottom: 3px solid #8D8D8D;
  padding-bottom: 8px; }
  .records_filtered_out .info {
    margin: 10px;
    margin-left: 15px; }

.records_panel_wrapper {
  margin-bottom: 80px; }

.sortbox {
  float: left;
  border: 1px solid #e3e3e3;
  width: 150px;
  margin-top: 8px;
  padding: 3px 10px 3px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #8D8D8D; }

.pagination {
  padding: 3px 10px 3px 20px;
  float: right;
  vertical-align: middle; }
  .pagination .page_number {
    font-size: 16px;
    font-weight: bold; }
  .pagination .page_active_number {
    font-size: 22px;
    font-weight: bold;
    color: #666666; }
  .pagination .page_number_text {
    margin-top: 12px; }
  .pagination .page_number_img {
    margin-top: 15px; }
  .pagination .page_number_input {
    margin-top: 6px;
    font-size: 15px; }
    .pagination .page_number_input input {
      font-size: 13px;
      font-weight: bold;
      padding-left: 2px;
      width: 35px; }

.L_top_panel {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  height: 60px;
  width: 100%;
  padding: 5px 20px;
  float: right;
  background-color: #f6f6f6;
  border-bottom: 2px solid #e3e3e3; }
  .L_top_panel .title {
    font-size: 34px;
    font-weight: bold;
    text-decoration: none; }
  .L_top_panel .authors {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none; }
    .L_top_panel .authors a {
      color: #000000; }
  .L_top_panel .publisher {
    font-size: 20px; }
    .L_top_panel .publisher span {
      font-weight: bold; }
  .L_top_panel .description {
    margin: 20px 40px 0 0; }
  .L_top_panel .filter_switcher {
    float: right;
    margin: 20px 40px 20px 0; }

.L_left_panel {
  padding-top: 0px;
  height: 3000px; }

.s_left_blue {
  display: block; }

.s_left_box {
  padding: 12px;
  padding-left: 25px; }

.puller {
  height: 36px;
  white-space: nowrap;
  padding-right: 126px;
  font-size: 0;
  background-color: transparent; }

.p_col {
  display: inline-block;
  text-align: center;
  width: 50%;
  margin-right: 0px;
  height: 36px; }

.p_flank, .pb_flank {
  background: #fff;
  height: 31px; }

.pb_flank {
  background-color: rgba(182, 182, 182, 0.3); }

.p_center {
  display: inline-block;
  width: 126px; }

.p_center:after {
  content: "*"; }

.p_a1, .pb_a1 {
  float: left;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-bottom-right-radius: 100% 100%;
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -19px; }

.pb_a1 {
  background-color: rgba(182, 182, 182, 0.3);
  border-bottom: 10px solid rgba(182, 182, 182, 0.3); }

.p_a2, .pb_a2 {
  margin-top: -5px;
  float: left;
  width: 50px;
  height: 50px;
  margin-left: -37px;
  background-color: transparent;
  border-top-left-radius: 100% 100%;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pb_a2 {
  border-top: 10px solid rgba(182, 182, 182, 0.3); }

.p_b1, .pb_b1 {
  margin-top: -5px;
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 0px;
  background-color: transparent;
  border-top-right-radius: 100% 100%;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pb_b1 {
  border-top: 10px solid rgba(182, 182, 182, 0.3); }

.p_b2, .pb_b2 {
  float: left;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 100% 100%;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -19px;
  margin-left: -37px; }

.pb_b2 {
  background-color: rgba(182, 182, 182, 0.3);
  border-bottom: 10px solid rgba(182, 182, 182, 0.3); }

.puller_footer {
  overflow: hidden;
  margin-top: -35px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #E3E3E3; }
  .puller_footer .records_panel_wrapper {
    display: none;
    width: 100%;
    height: 335px;
    margin-bottom: 0px; }
  .puller_footer .records_panel {
    width: 100%; }
  .puller_footer .header_box {
    background-color: #e3e3e3; }

.records_toogle_switcher {
  background-color: #e3e3e3;
  height: 84px; }
  .records_toogle_switcher img {
    display: block;
    margin-top: 5px;
    margin-left: 49%;
    border: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.records_toogle_switcher.down {
  height: 30px;
  z-index: -20;
  float: left;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.records_toogle_switcher.down.onhover {
  border-bottom-right-radius: 100% 80%;
  border-bottom-left-radius: 100% 80%;
  height: 37px; }
  .records_toogle_switcher.down.onhover img {
    margin-top: 13px; }

.records_toogle_switcher_down_wrapper {
  height: 37px; }

.main_container {
  padding-top: 0px; }

.filter_section {
  padding: 4px 8px 10px 8px;
  float: left;
  min-width: 160px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .filter_section .act {
    background: #225b98 url(../img/2x.png) 100px no-repeat;
    color: white;
    list-style-image: url("../img/blue_point.png"); }

.filter_section .act a {
  background: url(../img/2x.png) 80px no-repeat;
  color: white; }

.s_left .act .filter_section {
  display: block; }

.filter_section .act a {
  background: url(../img/2x.png) 80px no-repeat;
  color: white; }

.filter_section_arrow {
  float: left;
  background: url(../img/2arrow_up_black.png) no-repeat;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 7px;
  cursor: pointer; }

.filter_section_header {
  float: left;
  padding-left: 5px;
  margin: 1px 30px 1px 0;
  width: 110px;
  font-size: 18px;
  cursor: pointer; }

.filter_content.price form {
  float: left;
  margin-top: 10px;
  padding-left: 10px; }
.filter_content.price input {
  width: 50%;
  height: 35px;
  padding-left: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #E3E3E3;
  margin-bottom: 7px; }

.filter_content.bullet_list ul {
  list-style-position: outside; }
.filter_content.bullet_list li {
  margin-left: 35px;
  margin-bottom: 1px;
  float: left;
  width: 95px;
  list-style-image: url("../img/dark_point.png"); }
  .filter_content.bullet_list li a {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 90px;
    font-size: 13px;
    cursor: pointer; }

.filter_content.multiselect_list form select {
  margin: 5px;
  width: 95%;
  height: 260px; }
  .filter_content.multiselect_list form select select {
    width: 100%; }
