.track_popup .track_msg {
  font-size: 18px;
  padding: 25px 25px 15px 0; }
.track_popup .login_required {
  display: none; }
.track_popup .track_button {
  height: 30px;
  line-height: 10px;
  padding-bottom: 5px; }

.track_popup.logout .track_msg {
  color: grey; }
.track_popup.logout .login_required {
  display: block;
  margin-top: 10px; }
.track_popup.logout .track_button {
  background: initial;
  background-color: grey; }
.track_popup.logout img.product_details {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%); }
