.dialog_style1 {
  background-color: #f0f0f0;
  border: solid 1px #000000;
  margin: 2px;
  position: fixed;
  padding: 10px;
  width: 430px;
  min-height: 175px;
  z-index: 300;
  top: 40%;
  left: 40%; }

.track_input {
  width: 65px;
  height: 27px;
  font-size: 20px;
  padding-left: 10px; }

.track_button {
  display: inline-block; }

.currency {
  font-size: 24px; }

.xx {
  float: right;
  background: url(../img/x.png) no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer; }
