{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Spis Treści - wyniki wyszukiwania{% endblock title %}
{% block css %}<link href="{% static "css/book.css" %}" rel="stylesheet" type="text/css">{% endblock css %}
{% block js %} <script type="text/javascript" src="{% static "js/book.js" %}"></script> {% endblock js %}
{% block searchbox %} {% include "searchbox_small_panel.html" %} {% endblock searchbox %}
{% block container %} {% include "book/container.html" %} {% endblock container %}
