{% with book=page.object_list.0.book %}
<div class="title">
{{ book.title }}
</div>
<div class="authors">
{% for author in book.authors%}{% if forloop.first %}<a href="">{{ author }}</a>{% else %}, <a href="">{{ author }}</a>{% endif %}{% endfor %}
</div>
<div class="publisher">
<span>Wydawnictwo: </span>{{ book.producent }}
</div>
<div class="description">
   {{ book.description_short | safe}}
    <span class="description">Czytaj dalej.</span>
</div>
{%comment%}
<div id="filter_switcher">Pokaż filtry</div>
{%endcomment%}
{% endwith %}
