{% extends "base.html" %}

{% load staticfiles %}
{% load str_tags %}

{% block title %}Spis Treści - Przekierowanie na stronę księgarni...{% endblock title %}
{% block js %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '{% now "Ymd-Hi" %}-{{ id }}',
    '{{ title }}',                  // affiliation or store name
    '{{ price }}'                   // total - required
  ]);

  _gaq.push(['_addItem',
    '{% now "Ymd-Hi" %}-{{ id }}',  // transaction ID - required
    '{{ id }}',                     // SKU/code - required
    '{{ id }}',                     // product name
    '{{ price }}',                  // unit price - required
    '1'                             // quantity - required
  ]);
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


  function redirect(){
      window.location = '{{ url|escapejs }}';
  }

  $(function(){
      setTimeout("redirect();", 1000);
  });

</script>

<style>
  #message_container {
    display: block;
    margin: 160px auto;
    width: 340px;
    text-align: center;
    line-height: 32px;
    vertical-align: top;
    font-family: Arial;
    font-size: 16px;
    color: #666666;
  }

  #spinner {
    margin-left: 10px;
  }
</style>
{% endblock js %}

{% block menu %}{% endblock menu %}
{% block searchbox %}{% endblock searchbox %}
{% block footer %}{% endblock footer %}
{% block container %}
    <div id="message_container" style="">
      Przekierowanie na stronę księgarni
      <img id="spinner" id="loading_img" src="{% static "img/loader.gif" %}" />
    </div>
{% endblock container %}
