{% extends "base.html" %}
{% load str_tags %}

{% block title %}Spis Treści - Przekierowanie na stronę księgarni...{% endblock title %}
{% block js %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_addTrans',
    '{% now "Ymd-Hi" %}-{{ id }}',
    '{{ title }}',                  // affiliation or store name
    '{{ price }}'                   // total - required
  ]);

  _gaq.push(['_addItem',
    '{% now "Ymd-Hi" %}-{{ id }}',  // transaction ID - required
    '{{ id }}',                     // SKU/code - required
    '{{ id }}',                     // product name
    '{{ price }}',                  // unit price - required
    '1'                             // quantity - required
  ]);
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();


  function redirect(){
      window.location = '{{ url|escapejs }}';
  }

  $(function(){
      setTimeout(redirect(), 3000);
  });

</script>
{% endblock js %}

{% block menu %}{% endblock menu %}
{% block searchbox %}{% endblock searchbox %}
{% block footer %}{% endblock footer %}
{% block container %}Przekierowanie na stronę księgarni...{% endblock container %}
