{% load staticfiles %}
{% load mathtags %}
{% load str_tags %}
{% with product=result %}
          <div class="index_box{% if forloop.counter > 5 %} extra{% endif %}">
            <img src="{{ product.cover }}" style="width: 91px; height: 137px" alt="" />
            <div class="ib_text">
              <div class="ib_text1">
                <a href="/book/{{ product.id }}/{{ product.title | slugify}}" title="{{ product.title }}">{{ product.title|truncatewords_by_chars:40 }}</a>
              </div>
              <div class="ib_text2 s_author">
                {% for author in product.name %}
                    {% if forloop.first %}
                        <a href="/search/?q={{ author }}">{{ author }}</a>{% else %}, <a href="/search/?q={{ author }}">{{ author }}</a>
                    {% endif %}
                {% endfor %}
              </div>
              <div class="ib_text_pos">
                <div class="ib_text3">
                  cena od:
                </div>
                <div class="ib_price">
                  {{ product.price_lowest }}<span class="ib_price2">zł</span>
                </div>
                <div class="ib_line">
                </div>
                <a href="#" onclick="get_track_form({{ product.id }}); return false;">
                    <div class="ib_btn {% comment %}track_button{% endcomment %}">
                    </div>
                </a>
                <a href="/book/{{ product.id }}/{{ product.title | slugify}}">
                    <div class="ib_btn2{% comment %}details_button{% endcomment %}">
                        SZCZEGÓŁY
                    </div>
                </a>
              </div>
            </div>
            <div class="index_box_h">
              <div class="ibh_image">
                <a href="">
                  Dostępne<br />
                  formaty:
                  <div class="ibh_image_format">
                    {% for format in book.formats %}
                        {{ format }}{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                    {% for format in product.formats %}{% if forloop.first %}{{ format }}{% else %}, {{ format }}{% endif %}{% endfor %}<br />
                    {% comment %}
                    {{ product.formats.all|join:", " }}<br />
                    {% endcomment %}
                  </div>
                </a>
              </div>
              {% comment %}
              <div class="x">
              </div>
              {% endcomment %}
            </div>
          </div>
{% endwith %}