{% load staticfiles mathfilters str_tags commontags %}
{% with product=result %}
          <div class="index_box{% if forloop.counter > 5 %} extra{% endif %}">
            <img src="{{ product.cover }}" style="width: 91px; height: 137px;" onerror="this.onerror=null;this.src='{% static "img/default_cover.png" %}'" alt=""  />
            <div class="ib_text">
              <div class="ib_text1">
                <a href="/book/{{ product.id }}/{{ product.title | slugify}}" title="{{ product.title }}">{{ product.title|truncatewords_by_chars:40 }}</a>
              </div>
              <div class="ib_text2 s_author">
                {% for author in product.name %}
                    {% if forloop.first %}
                        <a href="/search/?q={{ author }}">{{ author }}</a>{% else %}, <a href="/search/?q={{ author }}">{{ author }}</a>
                    {% endif %}
                {% endfor %}
              </div>
              <div class="ib_text_pos">
                <div class="ib_text3">
                  cena od:
                </div>
                <div class="ib_price">
                  {{ product.price_lowest }}<span class="ib_price2">zł</span>
                </div>
                <div class="ib_line">
                </div>
                <div class="ib_btn track_button" data-track-form-id="{{ product.id }}">
                </div>
                <a href="/book/{{ product.id }}/{{ product.title | slugify}}">
                    <div class="ib_btn2{% comment %}details_button{% endcomment %}">
                        SZCZEGÓŁY
                    </div>
                </a>
              </div>
            </div>
            <div class="index_box_h">
              <div class="ibh_image">
                <a href="/book/{{ product.id }}/{{ product.title | slugify}}" title="{{ product.title }}">
                  Dostępne<br />
                  formaty:
                  <div class="ibh_image_format">
                    {{  product.formats|formats_to_readable|join:"<br />" }}
                  </div>
                </a>
              </div>
              {% comment %}
              <div class="x">
              </div>
              {% endcomment %}
            </div>
          </div>
{% endwith %}