{% load staticfiles %}
{% load mathfilters %}
{% load str_tags %}

<div class="records_panel_wrapper" data-records-count="{{ product.records|length }}">
    <div class="records_toogle_switcher up"></div>
    <div class="records_panel">
        <div class="records_headers">
            <div class="header_box"><div class="sortable service">Księgarnie</div></div>
            <div class="header_box"><div class="sortable formats">Liczba formatów</div></div>
            <div class="header_box">Dodatkowe Informacje</div>
            {%comment%}
            <div class="header_box">Sposób płatności</div>
            {%endcomment%}
            <div class="header_box"><div class="sortable price">Cena</div></div>
        </div>
        {% for record in product.records %}
        <div class="record">
            <div class="service_logo_box">
                <img src="{% static "img/logo/"|add:record.bookstore|add:"_150x75.png"|lower %}" alt="{{record.bookstore}}" onerror="this.onerror=null;this.src='{% static "img/logo/loremipsum_150x75.png" %}'" />
            </div>
            <div class="record_formats" data-no="{{ record.formats|length}}">
                Dostajesz: <br/>{{ record.formats|join:", " }}
            </div>
            <div class="record_info"></div>
            {%comment%}
            <div class="payment_info">Test2</div>
            {%endcomment%}
            <div class="record_price">
                <span class="value">{{ record.price }}</span> <b>zł</b>
                {%comment%}
                <div class="shipment">+ przesyłka od 12 zł</div>
                {%endcomment%}
                <a target="_blank" href="{% url "book_redirect" %}?id={{ record.id }}&price={{ record.price }}&url={{ record.url|encode }}&title={{ record.title }}">
                    <div class="goto_shop">
                        IDŹ DO SKLEPU
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if product.filtered_records_number > 0 %}
        <div class="records_filtered_out">
            <div class="sd_format_info">
                Oferty {{ product.filtered_records_number }} serwis{{ product.filtered_records_number|pluralize:"u,ów" }} nie spełniły wymagań aktywnych filtrów.

                {% with formats=product.filtered_formats %}
                    Format{{ formats|pluralize:"y"}}: {{ formats|join:", "}}
                {% endwith %}

                Cena {% if product.filtered_records_number > 1%}od {% endif %}{{ product.price_lowest_before_filtering }} zł.
            </div>
        </div>
    {% endif %}
</div>
