
{% for bookstore, item_list in bookstores.items %}
	<h3>{{ bookstore }}</h3>

	{% if item_list.errors %}
		<p>Nieprawidłowe ceny</p>
		<table>
			<thead>
				<tr>
					<th>MasterBook ID</th>
					<th>Tutuł</th>
					<th colspan="2">Cena u nas</th>
					<th colspan="2">Cena tam</th>
				</tr>
			</thead>

			<tbody>
				{% for error in item_list.errors %}
					<tr>
						<td>
							{{ error.book.master.id }}
						</td>
						<td>

							{{ error.book.title|truncatechars:30 }}
						</td>
						<td>
							{{ error.book.price }}
						</td>
						<td>
							<a href="http://spistresci.pl/{% url 'book_page' error.book.master.id %}">spistresci</a>

						</td>
						<td>
							{{ error.page_price }}
						</td>
						<td>
							 <a href="{{ error.book.url }}">{{ bookstore }}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if item_list.invalid_links %}
		<p>Nieprawidłowe linki</p>

		<table>
			<thead>
				<tr>
					<th>MasterBook ID</th>
					<th>Tutuł</th>
					<th>Uszkodzony link(?)</th>
					<th>Powód</th>
				</tr>
			</thead>

			<tbody>
				{% for item in item_list.invalid_links %}
					<tr>
						<td>
							{{ item.book.master.id }}
						</td>
						<td>
							<a href="http://spistresci.pl/{% url 'book_page' item.book.master.id %}">{{ item.book.title|truncatechars:30 }}</a>
						</td>
						<td>
							<a href="{{ item.book.url }}">{{ bookstore }}</a>
						</td>
						<td>
							{{ item.reason }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<hr/>
{% endfor %}
