{% with book=object %}
<div id="title" class="title" data-book-id="{{book.id}}">
{{ book.title }}
</div>
<div class="authors">
{% for author in book.authors.all %}{% if forloop.first %}<a href="">{{ author }}</a>{% else %}, <a href="">{{ author }}</a>{% endif %}{% endfor %}
</div>
<div class="publisher">
<span>Wydawnictwo: </span>{{ book.producent }}
</div>
<div class="description">
   {{ book.mini_books.all.0.description.description | safe}}
{%comment%}
    <span class="description">Czytaj dalej.</span>
{%endcomment%}
</div>
{%comment%}
<div id="filter_switcher">Pokaż filtry</div>
{%endcomment%}
{% endwith %}
