<!DOCTYPE HTML>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css">
    {% block css %}{% endblock css %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{% static "js/all.js" %}"></script>
    {% include "snippets/google_analytics.html" %}
    {% block js %} {% endblock js %}
    <link href="{% static "img/favicon.ico" %}" rel="icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ciasteczka.eu/cookiesEU-latest.min.js"></script>
    <script type="text/javascript">
      $(function(){
        jQuery.fn.cookiesEU({
          parent: $('.footer_footer'),
          position: 'bottom',
          auto_accept: false
        });
      });
    </script>
  </head>
  <body>
     {% block menu %} {% include "menu.html" %} {% endblock menu %}
     {% block searchbox %}{% endblock searchbox %}
     {% block container %}{% endblock container %}
     {% block footer %} {% include "footer.html" %} {% endblock footer %}
  </body>
</html>
