    {% load staticfiles %}
    <div id=book_container class="container" data-book-id="{{ book.id }}">
      <div class="index_top_bg s_index_top_bg">
        <div class="index_top">
          <a href="/" class="logo">
            <img src="{% static "img/logo2.png" %}" alt="" />
          </a>
          <div class="search">
            <form id="search_box_form" class="search_box">
              <div class="right_input_bg">
              </div>
              <div class="search_input">
                <div class="search_input2">
                    {% block search_input %}  {% include "search_input.html" %} {% endblock search_input %}
                </div>
              </div>
              <input id="id_submit" type="submit" value="SZUKAJ">
            </form>
          </div>
        </div>
      </div>
      
<!--    LEFT MENU    -->
    <div class="s_left{% if isMenuHidden %} s_zip{% endif %}" id="s_left">
    <div class="s_arrow_zip"></div>
    <img class="product_details" src="{{ book.cover }}" alt="" style="width:200px" onerror="this.onerror=null;this.src='{% static "img/default_cover.png" %}'" />
    </div>
<!-- LEFT MENU END -->
     <div class="s_title product_details">
     {{ book.title }}
     </div>
      <div class="s_author">
      {% for author in book.authors%}{% if forloop.first %}<a href="">{{ author }}</a>{% else %}, <a href="">{{ author }}</a>{% endif %}{% endfor %}
      </div>

      <div class="s_text"><b>Wydawnictwo:</b>{{ book.producent }}</div>
      <div id="book_description" class="s_text">{{ book.description_short }}<a id="show_description">Czytaj całość »</a></div>
    </div>
