{% load staticfiles %}
    <div class="container">
      <div class="index_top_bg">
        <div class="index_top">
          <a href="/" class="logo">
            <img src="{% static "img/logo.png" %}" alt="" />
          </a>
          <div class="social">
            ODWIEDŹ NAS: 
            <a href="">
              <img src="{% static "img/social_f.png" %}" alt="" /> 
            </a> 
            <a href="">
              <img src="{% static "img/social_t.png" %}" alt="" /> 
            </a> 
            <a href="">
              <img src="{% static "img/social_g.png" %}" alt="" /> 
            </a>  
          </div>
          <div class="search">
            <div class="search_text">
              Pomożemy Ci znaleźć najlepszą ofertę<br />
              na <b>ebooka</b> lub <b>audiobooka</b>:
            </div>
            <form action="search" class="search_box">
              <div class="search_input">
                <div class="search_input2">
                    {% block search_input %}  {% include "search_input.html" %} {% endblock search_input %}
                </div>
              </div>
              <input type="submit" value="SZUKAJ">
              <div class="search_more">
                <a href="">
                  Wyszukiwanie zaawansowane
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="index_bottom">
        <div class="index_title">U nas porównasz <b>355 782 ofert z 48 serwisów!</b></div>

        {% for group in group_of_books %}
        <div class="index_subtitle">
          <img src="{% static "img/red_line.png" %}" alt="" />{{ group.name }}<img src="{% static "img/red_line.png" %}" alt="" />
        </div>
        {% endfor %}

        {% for group in group_of_books %}
        <div class="three_index_box">
          {% for book in group.list %}

          <div class="index_box">
            <img src="{{ book.cover }}" style="width: 91px; height: 137px" alt="" />
            <div class="ib_text">
              <div class="ib_text1">
                <a href="">
                  {{ book.title }}
                </a>
              </div>
              <div class="ib_text2 s_author">
                <a href="">
                  {{ book.author }}
                </a>
              </div>
              <div class="ib_text_pos">
                <div class="ib_text3">
                  cena od:
                </div>
                <div class="ib_price">
                  {{ book.price }}<span class="ib_price2">zł</span>
                </div>
                <div class="ib_line">
                </div>
                <a href="">
                  <div class="ib_btn">  
                  </div>
                </a>
                <a href="">
                  <div class="ib_btn2">
                    SPRAWDŹ
                  </div>
                </a>
              </div>  
            </div>
            <div class="index_box_h">
              <div class="ibh_image">
                <a href="">
                  Dostępne<br /> 
                  formaty:
                  <div class="ibh_image_format">
                    {% for format in book.formats %}
                    {{ format }}{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                  </div>
                </a>  
              </div>
              <div class="x">
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="index_more">
            <a href="">
              Zobacz więcej
            </a>
          </div>
        </div>
        {% endfor %}
        
   <!--  end of list book       -->  
     </div>
    </div>
