{% load staticfiles %}
{% load socialaccount %}
    <div class="container">
      <div class="index_top_bg s_index_top_bg">
        <div class="index_top">
          <a href="/" class="logo">
            <img src="{% static "img/logo.png" %}" alt="" />
          </a>
        </div>
      </div>
      <div class="register_bottom_container">
        <div class="register_bottom_left_container">
          <form action="/accounts/register/" method="post">{% csrf_token %}
            <fieldset id="inputs">
              <p>{{ form.username }}</p>
              <p>{{ form.email }}</p>
              <p>{{ form.password1 }}</p>
              <p>{{ form.password2 }}</p>
            </fieldset>
            <fieldset id="actions">
              <input type="submit" id="submit" value="Zarejestruj">
            </fieldset>
          </form>
        </div>
        <div class="register_bottom_right_container">
            <p><a href="{% provider_login_url "facebook" method="oauth2" %}"><img src="{% static "img/auth_facebook.png" %}" /></a></p>
            <p><a href="{% provider_login_url "google" method="oauth2" %}"><img src="{% static "img/auth_gplus.png" %}" /></a></p>
            <p><a href="{% provider_login_url "twitter" method="oauth2" %}"><img src="{% static "img/auth_twitter.png" %}" /></a></p>
        </div>
      </div>
   </div>
