{% load staticfiles %}
  <div class="index_top_bg_place_holder">
    <div class="index_top_bg s_index_top_bg{% comment %} advanced{% endcomment %}">
      <div class="index_top">
        <a href="/" class="logo">
          <img src="{% static "img/logo.png" %}" alt="" />
        </a>
        <div class="search">
          <form action="/search/" class="search_box" name="search_form" id="search_form">
            <div class="right_input_bg">
            </div>
            <div class="search_input">
              <div class="search_input2">
                  <input id="id_q" name="q" type="text" autocomplete="off" value="{{ query }}" placeholder="Wpisz tytuł książki lub nazwisko autora" data-shake="3" >
                  {% block search_input %}  {% include "search_input.html" %} {% endblock search_input %}
              </div>
            </div>
            <div id="search_btn" class="search_small_btn">SZUKAJ</div>

            <div class="search_more s_search_more">
              <a href="">
                WYSZUKIWANIE ZAAWANSOWANE
              </a>
            </div>
          </form>
          <div class="search_advanced">
            <div>
              <span>Tytuł</span><input name="title" type="text" autocomplete="off" value="{{ subquery_title }}"/>
              <div class="radio_span">
                  <input type="radio" name="radio_title" id="radio_t1" class="css-checkbox" checked="checked">
                  <label for="radio_t1" class="css-label">wszystkie słowa</label>
                  <input type="radio" name="radio_title" id="radio_t2" class="css-checkbox">
                  <label for="radio_t2" class="css-label">którekolwiek ze słów</label>
              </div >
            </div>
            <div>
              <span>Autorzy</span><input name="authors" type="text" autocomplete="off" value="{{ subquery_authors }}" >
              <div class="radio_span">
                  <input type="radio" name="radio_author" id="radio_a1" class="css-checkbox">
                  <label for="radio_a1" class="css-label">wszyscy autorzy</label>
                  <input type="radio" name="radio_author" id="radio_a2" class="css-checkbox" checked="checked">
                  <label for="radio_a2" class="css-label">którykolwiek z autorów</label>
              </div >
            </div>
            <div>
              <span>ISBN</span><input name="isbn" type="text" autocomplete="off" value="{{ subquery_isbn }}" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
