{% extends "plain_text.html" %}
{% load staticfiles %}
{% block css %}<link href="{% static "css/terms_of_use.css" %}" rel="stylesheet" type="text/css">{% endblock css %}
{% block container %} 
<div class="plain_text term_of_use">
<h1> Regulamin serwisu SpisTreści </h1>
<p>1. Postanowienia ogólne i definicje</p>
<p>1.1.  Niniejszy regulamin określa zasady korzystania z serwisu SpisTresci.pl zwanego dalej "Serwisem".</p>
<p>1.2. Właściciel Serwisu - firma Magdalena Szumna (NIP: 9121801465), wraz z pozostałymi twórcami Serwisu są zwani dalej “Administratormi”.</p>
<p>1.3. Celem Serwisu jest porównywanie cen książek udostępnionych przez Partnerów współpracujących z Serwisem.</p>
<p>1.4. Towarami porównywanymi w Serwisie są książki papierowe, ebooki, audiobooki zwane dalej ”książkami”.</p>
<p>1.5. Jako “księgarnie internetowe” na potrzeby regulaminu rozumie się serwisy oferujące książki (wg definicji z regulaminu), odpłatnie lub darmowo.</p>
<p>1.6. Korzystanie z serwisu jest darmowe, Usługobiorca (zwany dalej Użytkownikiem rozumianym jako osoba fizyczna lub osoba prawna) nie ponosi żadnych kosztów za korzystanie z Serwisu.</p>
<p>1.7. Prezentowana oferta książek nie jest ofertą handlową i w Serwisie nie ma możliwości dokonywania zakupu.</p>
<p>1.8. Administratorzy ma prawo dokonania zmian w Regulaminie, bądź w całym serwisie bez powiadamiania Użytkownika o wprowadzanych zmianach.</p>
<p>1.9. Użytkownik rejestrujący się w Serwisie wyraża zgodę na otrzymywanie drogą elektroniczną informacji wysyłanych za pośrednictwem Serwisu, jak również w nagłych przypadkach kontaktu bezpośredniego ze strony Administratora.</p>
<p>1.10. Każdy Użytkownik korzystający z Serwisu bądź logujący się do niego, akceptuje aktualny Regulamin Serwisu.</p>
<p>1.11. Administrator może zablokować lub usunąć konto Użytkownika jeżeli Użytkownik dopuści się łamania Regulaminu lub działań na niekorzyść Serwisu.</p>
<p>1.12. Administrator nie ponosi odpowiedzialności za różnice cen w Serwisie a stroną księgarni internetowej, do którego użytkownik jest przekierowywany z pozycji danej książki.</p>
<p>1.13. Regulamin jest udostępniany nieprzerwanie na stronie internetowej serwisu SpisTresci.pl (http://spistresci.pl/regulamin/) w sposób umożliwiający Użytkownikom jego pozyskanie, odtwarzanie i utrwalanie jego treści poprzez wydrukowanie lub zapisanie na nośniku w każdej chwili.</p>
<br />
<p>2. Warunki korzystania z Serwisu</p>
<p>2.1. Warunkiem technicznym korzystania z Serwisu jest posiadanie komputera, bądź innego urządzenia z dostępem do sieci Internet z zainstalowaną przeglądarką internetową. W przypadku korzystania z niektórych Usług konieczne jest posiadanie konta poczty elektronicznej działającego na dowolnym serwerze.</p>
<p>2.2. W celu skorzystania z pełnej funkcjonalności niektórych Usług dostępnych w Serwisie, niezbędne jest włączenie w przeglądarce internetowej Użytkownika obsługi protokołu bezpiecznej transmisji danych SSL, obsługi Java Script, a także cookies.</p>
<p>2.3. W ramach Serwisu umożliwia się Użytkownikowi m.in.:</p>
<p>a. uzyskiwanie informacji o książkach oferowanych przez księgarnie internetowe,</p>
<p>b. porównanie cen książek oferowanych przez serwisy i księgarnie internetowe,</p>
<p>c. zamieszczanie opinii lub recenzji dotyczących książek,</p>
<p>e. zapoznawanie się z opiniami zamieszczonymi przez innych Użytkowników na temat książek,</p>
<p>f. zapoznanie się z fragmentem recenzji książek, napisanej przez Blogera. Użytkownik ma możliwość zapoznania się z całą recenzją na stronie bloga, do której prowadzi odnośnik.</p>
<p>f. przejście na strony księgarni internetowych, których oferta książek jest prezentowana w Serwisie,</p>
<p>i. korzystanie z Usług, w tym:</p>
<p>i) powiadomienia o zmianie ceny książki w księgarni internetowej,</p>
<p>ii) powiadomienia o nowych komentarzach i opiniach prezentowanych w ramach aktywności użytkowników</p>
<p>iii) otrzymywania newslettera,</p>
<p>iv) powiadamiania o nowych ofertach księgarni internetowych.</p>
<p>v) branie udziału w konkursach organizowanych w Serwisie</p>
<br />
<p>3. Prawa i obowiązki Serwisu</p>
<p>3.1. Dane dotyczące książek umieszczane w Serwisie pochodzą od księgarni  internetowych. Administrator Serwisu dokłada wszelkich starań, aby informacje prezentowane w Serwisie były przedstawiane przez księgarnie internetowe zgodnie z aktualnym stanem faktycznym. W razie jakichkolwiek wątpliwości co do aktualności oferty lub innych kwestii związanych z transakcją, opisem, ceną, dostępnością książki, Użytkownik powinien kontaktować się bezpośrednio z księgarnią internetową, z którego oferta pochodzi.</p>
<p>3.2. Serwis nie odpowiada:</p>
<p>a. za realizację dostawy książki w związku z zamówieniem złożonym w księgarni  internetowej przez Użytkownika,</p>
<p>b. z tytułu rękojmi, gwarancji oraz uprawnień konsumenckich związanych z książkami i transakcją sprzedaży,</p>
<p>c. za niewykonanie lub nienależyte wykonanie zobowiązania przez księgarnię nternetową,</p>
<p>d. za jakość, bezpieczeństwo, legalność książek, a także prawdziwość i rzetelność ich opisów przez księgarnie internetowe.</p>
<p>3.3. W przypadku rozbieżności pomiędzy opisem książki zamieszczonym zarówno na stronach Serwisu (w tym na stronach dotyczących określonego produktu) jak i przez księgarnię internetową na jej stronie internetowej, wiążący dla Użytkownika i księgarni internetowej jest opis książki pochodzący z księgarni internetowej.</p>
<p>3.4. Autorskie prawa majątkowe do elementów Serwisu, w tym do logotypów i treści zamieszczonych w Serwisie, a także do układu i kompozycji tych elementów (tzw. layout) oraz prawa własności przemysłowej, w tym prawa ochronne na znaki towarowe umieszczone w Serwisie, przysługują Administratorom Serwisu  lub podmiotom trzecim.</p>
<br />
<p>4 Logowanie i rejestracja</p>
<p>4.1. Użytkownicy mogą korzystać z Serwisu bez dokonywania rejestracji bądź logowania, jednak niektóre funkcje dostępne są tylko po rejestracji i zalogowaniu.</p>
<p>4.2. Dokonanie rejestracji w Serwisie jest całkowicie bezpłatne i jest możliwe za pomocą narzędzi dostępnych w Serwisie</p>
<p>4.3. Logowania do serwisu  SpisTresci.pl można dokonać :</p>
<p>a. za pomocą danych dostępowych ustalonych podczas rejestracji w Serwisie</p>
<p>b. ub z wykorzystaniem danych dostępowych Użytkownika pochodzących z serwisów zewnętrznych</p>
<p>4.4. Rejestracja w Serwisie następuje poprzez akceptację Regulaminu oraz wprowadzenie do formularza rejestracyjnego prawdziwych i prawidłowych danych Użytkownika, w szczególności takich jak adres e-mail oraz hasło. Rejestracja lub logowanie umożliwiają zapamiętanie w Serwisie danych Użytkownika celem dogodniejszego korzystania z usług Serwisu.</p>
<p>4.5.  Zabrania się posługiwania przez Użytkownika w procesie rejestracji danymi innych osób, w tym ich adresami e-mail .</p>
<p>4.6. Po dokonaniu rejestracji za pomocą formularza rejestracyjnego, Użytkownik otrzyma na wskazany przez siebie w procesie rejestracji adres e-mail potwierdzenie rejestracji z linkiem aktywacyjnym.</p>
<p>4.7. Rezygnacja z rejestracji w Serwisie możliwa jest możliwa w panelu użytkownika.</p>
<br />
<p>5. Wypowiedzi i komantarze Użytkowników</p>
<p>5.1. Wypowiedzi  Użytkowników są ich subiektywnymi ocenami. Serwis i jego Administratorzy nie ponoszą odpowiedzialności za treść wypowiedzi  Użytkowników.</p>
<p>5.3. W celu zamieszczenia wypowiedzi Użytkownik musi być zalogowany</p>
<p>5.4. Wypowiedzi powinny być przejrzyste i zrozumiałe, oraz nie mogą zawierać:</p>
<p>a. wulgaryzmów, treści obscenicznych, pornograficznych lub nawołujących do szerzenia nienawiści, rasizmu, ksenofobii oraz konfliktów między narodami,</p>
<p>b. adresów konkurencyjnych porównywarek cen,</p>
<p>c. treści nieprawdziwych oraz o charakterze reklamowym, innych treści o charakterze komercyjnym z wyjątkiem filmów i zdjęć publikowanych przez producentów,</p>
<p>d. treści naruszających obowiązujące przepisy prawa oraz zasady współżycia społecznego.</p>
<p>e. treści naruszających prawa patentowe, prawa autorskie, tajemnicę przedsiębiorstwa lub inne prawa własności intelektualnej,</p>
<p>f. treści, które stanowią wynik porozumienia z księgarniami internetowymi lub innymi Użytkownikami mającego na celu wzajemne oddziaływanie na wiarygodność własną i innych podmiotów, w tym księgarni Internetowych.</p>
<p>g. treści obrażających innych Użytkowników, księgarnie internetowe, Blogerów, Administratorów i innych osób.</p>
<p>5.6. Na zasadach wynikających z obowiązujących przepisów prawa Serwis upoważniony jest do usuwania całości lub części wypowiedzi. Ponadto Serwis zastrzega sobie prawo do usunięcia wypowiedzi w całości lub części bądź jej zmiany redakcyjnej i edycyjnej, w niezbędnym zakresie, gdy wypowiedź:</p>
<p>a. narusza zasady określone w pkt 5.4. Regulaminu,</p>
<p>b. jest nieczytelna np. poprzez: brak polskich znaków, nadmiar błędów interpunkcyjnych, ortograficznych, składniowych, napisanie jej wersalkami, użycie znaków znieksztalcających jej treść</p>
<br />
</div>
{% endblock container %}
