@import "generic/L_container.scss";
@import "search/filters";
@import "record_details";
@import "basics";
@import "all";
@import "top_menu";
@import "search_box";
@import "search_results";
@import "track_form";
@import "footer";


$shadow-color:rgba(182, 182, 182, 0.3);

$box-color: #F6F6F6;
$box-border-color: #E3E3E3;

$padding_right_left: 20px;
$padding_top_bottom: 5px;

$panel-border-width: 2px;

.view_icon{
  margin: 8px 10px;
  width: 22px;
  height: 22px;
  float: left;
  cursor: pointer;
  &.act{
    cursor: auto;
  }
}

.list_view_icon{
  @extend .view_icon;
  background:url(../img/view_icon-list.png) no-repeat;
  &.act{
    background:url(../img/view_icon-list_act.png) no-repeat;
  }
}

.galery_view_icon{
  @extend .view_icon;
  background:url(../img/view_icon-galery.png) no-repeat;
  &.act{
    background:url(../img/view_icon-galery_act.png) no-repeat;
  }
}

.text_view_icon{
  @extend .view_icon;
  background:url(../img/view_icon-text.png) no-repeat;
  &.act{
    background:url(../img/view_icon-text_act.png) no-repeat;
  }
}

.big_list_view_icon{
  @extend .view_icon;
  background:url(../img/view_icon-big_list.png) no-repeat;
  &.act{
    background:url(../img/view_icon-big_list_act.png) no-repeat;
  }
}


.view_switcher{
  float: left;
}

.sortboxwrapper{
  float: left;
  width:250px;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}


.sortbox{
  float: left;
  border: 1px solid $box-border-color;

  margin-top: 8px;
  padding: 3px 10px 3px 20px;

  font-size:20px;
  font-weight:bold;
  color: #8D8D8D;
  background-color: $box-color;

  cursor:pointer;

  .active_sort_desc{
    top: -3px;
    position: relative;
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
    display: inline-block;
  }

  .arrow{
    display: inline-block;
    float: right;
    background:url(../img/2arrow_down_grey.png) no-repeat;
    width:17px;
    height:18px;
    margin-top:4px;
    .active &{
      background:url(../img/2arrow_up_grey.png) no-repeat;
    }
  }

  .active &{
    z-index: 105;
    position: relative;
    border-bottom-width: 0px;
  }
}

.sortboxpopup{
  display: none;
  float: left;
  position: relative;
  border: 1px solid rgb(227, 227, 227);
  background-color: rgb(246, 246, 246);

  padding: 10px 20px 10px 20px;
  margin-top: -1px;
  z-index: 104;

  .active &{
    display: block;
  }
}

.sort_by{
  float: right;
  color: rgb(141, 141, 141);
  font-size: 15px;
  //width: 200px;
  text-align: right;
  cursor: pointer;
  &.active_sort{
    color: rgb(102, 102, 102);
    cursor: default;
  }
}

.sort_by_group{
  border-bottom: 1px solid #8D8D8D;;
  padding: 5px 0;
  float: left;
  width: 200px;

  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: rgb(141, 141, 141);

  &.last{
    border-bottom-width: 0px;
  }
}


.pagination{
  padding: 3px 10px 3px 20px;
  float: right;
  vertical-align: middle;

  .page_number{
    font-size:16px;
    font-weight:bold;
  }

  .page_active_number{
    font-size:22px;
    font-weight:bold;
    color: #666666;
  }

  .page_number_text{
      margin-top: 12px;
  }

  .page_number_img{
      margin-top: 15px;
  }

  .page_number_input{
    margin-top: 6px;
    font-size:15px;
    input{
      font-size:13px;
      font-weight:bold;
      padding-left: 2px;
      width: 35px;
    }
  }
}

.L_top_panel {
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  height: 60px;
  width: 100%;

  padding: $padding_top_bottom $padding_right_left;

  float: right;
  background-color: $box-color;
  border-bottom: $panel-border-width solid $box-border-color;

  .title{
    font-size:34px;
    font-weight:bold;
    text-decoration:none;
  }

  .authors{
    margin-top: 20px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    a{
      color: #000000;
    }
  }

  .publisher{
    font-size:20px;
    span{
      font-weight:bold;
    }
  }

  .description{
    margin: 20px 40px 0 0;
  }

  .filter_switcher{
    float: right;
    margin: 20px 40px 20px 0;
  }
}

.L_left_panel {
  padding-top: 0px;
}

.s_left_blue{
  display: block;
}

.s_left_box{
  padding: 12px;
  padding-left: 25px;
}

.box_button{
  width:151px;
  height:27px;

  margin-bottom:2px;
  margin-top:2px;
  padding-top:10px;
}

.book_box{
  background-color: white;
  padding: 20px;
  min-height: 140px;

  div.track_button {
    @extend .blue_button;
    @extend .box_button;
    img{
      border:none;
      float:right;
      margin-left: -40px;
      margin-right: 20px;
      margin-top: -8px;
    }
  }

  input[type="button"].track_button {
    margin-top: 0px;
    border:none;
    height: 30px;
    position: relative;

    @extend .blue_button;
    @extend .box_button;
 }

  .details_button{
    @extend .red_button;
    @extend .box_button;
  }
}

.image-wrap {
    max-height: 150px;
    overflow: hidden;
    max-width: 100px;
}

.image-wrap-border{
    padding:5px 5px 2px 5px;
    border:#e3e3e3 1px solid;
    margin-right:20px;
    float:left;
}

.image-wrap img {
    width: 100%;
}


.puller {
  $height: 36px;

  height: $height;
  white-space:nowrap;
  padding-right:126px;
  font-size: 0;
  background-color: transparent;


  &.npb{
    position: relative;
  }

  &.pb{
    margin-top: -$height + 2px;
  }
}

.p_col{
    display:inline-block;
    text-align: center;
    width:50%;
    margin-right:0px;
    height:36px;

    &:after{
      content:'*'
    }
}

.p_flank{
    background:#fff;
    height:31px;
}

.pb_flank{
    @extend .p_flank;
    background-color: $shadow-color;
}

.p_center{
    display:inline-block;
    width:126px;
}

.p_a1{
   float: left;
   background-color: #fff;
   width: 50px;
   height: 50px;
   border-bottom-right-radius: 100% 100%;
   border-bottom:10px solid #fff;
   border-right:10px solid transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-top: -19px;
}

.pb_a1{
  @extend .p_a1;
  background-color: $shadow-color;
  border-bottom:10px solid $shadow-color;
}

.p_a2{
   margin-top: -5px;
   float: left;
   width: 50px;
   height: 50px;
   margin-left: -37px;//13-50
   background-color: transparent;
   border-top-left-radius: 100% 100%;
   border-top:10px solid #fff;
   border-left:10px solid transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.pb_a2{
  @extend .p_a2;
  border-top:10px solid $shadow-color;
}

.p_b1{
   margin-top: -5px;
   float: left;
   width: 50px;
   height: 50px;
   margin-left: 0px; //+50
   background-color: transparent;
   border-top-right-radius: 100% 100%;
   border-top:10px solid #fff;
   border-right:10px solid transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.pb_b1{
  @extend .p_b1;
  border-top:10px solid $shadow-color;
}

.p_b2{
   float: left;
   background-color: #fff;
   width: 50px;
   height: 50px;
   border-bottom-left-radius: 100% 100%;
   border-bottom:10px solid #fff;
   border-left:10px solid transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-top: -19px;
   margin-left: -37px;
}

.pb_b2{
  @extend .p_b2;
  background-color: $shadow-color;
  border-bottom:10px solid $shadow-color;
}

.puller_footer{
  overflow: hidden;
  margin-top: -35px;
  width: 98%;
  margin-left:1%;
  margin-right:1%;
  background-color: #E3E3E3;

  .records_panel_wrapper{
    display: none;
    width: 100%;
    height: 335px;
    margin-bottom: 0px;
  }

  .records_panel{
    width:100%;
  }

  .records_filtered_out{
    width:100%;
  }

  .header_box{
    background-color: $box-border-color;
  }
}

.records_toogle_switcher{
  position: relative;
  background-color: $box-border-color;
  height: 84px;
  z-index: -2;
  img{
    position: absolute;
    left:50%;
    display:block;
    margin-top: 5px;
    margin-left:-8px;
    border: 0;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.records_toogle_switcher.down{
  height: 30px;
  z-index: -1;
  float: left;
  width: 98%;
  margin-left:1%;
  margin-right:1%;
  cursor: pointer;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.act2 .records_toogle_switcher.down{
  z-index: 1;
}


.records_toogle_switcher.down.onhover{
  border-bottom-right-radius: 100% 80%;
  border-bottom-left-radius: 100% 80%;
  height: 37px;

  cursor: pointer;
  img{
    margin-top: 13px;
  }
}

.records_toogle_switcher_down_wrapper{
  height: 37px;
}

.main_container{
  padding-top: 0px;
}

.main_container.loading{
  opacity: 0.4;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

$book-box-width:300px;
@import "product_thumbnail_view";

.index_more{
  display: none;
}

.info_box_x{
  cursor: pointer;
  color: #BDB76B;
  border: 1px solid #BDB76B;
  background-color: #FFFFE0;
  font-size: 21px;
  display: inline-block;
  line-height: 0px;
  padding: 9px 3px;
  text-decoration: none;
}
.info_box_x:before{
  content: "×";
}

#search_info_box{
  background-color: lightyellow;
  margin: 18px 0px;
  padding: 20px;
  border: dotted 1px black;
  font-size: 18px;

  .info_box_x{
    float: right;
    margin-top: -10px;
    margin-right: -10px;
  }
}

