html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    font-family: MuseoSlab500;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
}
dl dd {
    margin: 0;
}
.blog {
    float: left;
    width: 100%;
}
.column1.cols2 {
    float: left;
    width: 48%;
}
.column2.cols2 {
    display: inline;
    float: right;
    width: 48%;
}
.column1.cols3, .column2.cols3 {
    display: inline;
    float: left;
    margin-right: 3%;
    width: 31%;
}
.column3.cols3 {
    display: inline;
    float: right;
    width: 31%;
}
.column1.cols4, .column2.cols4, .column3.cols4 {
    display: inline;
    float: left;
    margin-right: 2%;
    width: 23%;
}
.column4.cols4 {
    display: inline;
    float: right;
    width: 23%;
}
.column1.cols5, .column2.cols5, .column3.cols5, .column4.cols5 {
    display: inline;
    float: left;
    margin-right: 2%;
    width: 18%;
}
.column5.cols5 {
    display: inline;
    float: right;
    width: 18%;
}
.article_row {
    clear: both;
    float: left;
    margin-bottom: 20px;
    padding: 0 0 20px;
    width: 100%;
}
.cols1 {
    clear: both;
}
html {
    color: #585048;
    font-size: 100%;
    line-height: 1.5;
    overflow-y: scroll;
}
body {
    min-height: 100%;
}
#belowmain {
    float: left;
    margin-top: 30px;
    width: 100%;
}
#above {
    margin-top: 20px;
}
#below {
    clear: both;
}
div#mainContent.twoL {
    background: url("../img/white_bg.png") repeat scroll 0 0 transparent;
    border: 1px dashed #D3CBB9;
    margin: 8px;
    padding: 12px;
}
div#mainContent.threeLR {
    background: url("../img/white_bg.png") repeat scroll 0 0 transparent;
    border: 1px dashed #D3CBB9;
    margin: 8px;
    padding: 12px;
}
.jbintrotext {
    clear: both;
    float: left;
    width: 100%;
}
.clear {
    clear: both;
}
#messageswrap .container {
    padding: 0;
}
.sidebar ul {
    color: #585048;
    margin: 0;
    text-align: left !important;
    font-size : 12px;
    overflow-y: auto;
    max-height: 400px;
    box-shadow: inset 0 0 16px rgba(117, 113, 98, 0.52); -moz-box-shadow: inset 0 0 16px rgba(117, 113, 98, 0.52); -webkit-box-shadow: inset 0 0 16px rgba(117, 113, 98, 0.52);
    color: white;
}

.sidebar img {
    padding-left : 10px;
    margin-right : 10px;
}
.sidebar ul li {
    list-style-type: none;
    margin: 0;
}
.sidebar ul li {
    padding: 0;
}
.sidebar ul li li {
    color: #585048;
    font-size: 90%;
    padding: 0 0 4px;
    text-align: left !important;
}
.sidebar ul li li:last-child {
    border-bottom: 0 none;
    padding: 0;
}
.sidebar ul li a, .sidebar ul li span.mainlevel span {
    padding: 4px 0;
}
.sidebar ul li a, .sidebar ul li span.mainlevel span {
    display: block;
}
.sidebar ul li a:hover {
}
.sidebar ul li#current {
    text-align: left;
    padding-bottom: 0;
}
.sidebar ul ul li:last-child {
    margin-bottom: 10px;
}
table {
    margin-bottom: 1.5em;
    max-width: 100%;
    width: 100%;
}
thead tr:last-of-type th {
    border-bottom-width: 2px;
}
tbody th {
    border-right-width: 2px;
}
th:empty {
    border: medium none;
}
th, td {
    padding: 0.75em;
    vertical-align: top;
}
th {
    font-weight: bold;
    text-align: center;
}
table [colspan] {
    text-align: center;
}
table [rowspan] {
    vertical-align: middle;
}
table.pagenav th, table.pagenav td {
    border: 0 none;
}
table.pagenav th.pagenav_prev {
    text-align: left;
}
table.pagenav th.pagenav_next {
    text-align: right;
}
table.contenttoc {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #EEEEEE;
    float: right;
    margin-left: 20px;
    width: 30%;
}
table.contenttoc tbody {
    padding: 10px;
}
table.contenttoc tr th, table.contenttoc tr td {
    border: 0 none;
    color: #999999;
    font-style: italic;
    line-height: 1em;
    padding: 6px 0;
    text-align: center;
}
table.contenttoc a.toclink.active {
    color: #999999;
}
.pagenavcounter {
    clear: both;
    color: #999999;
    float: right;
    font-style: italic;
    margin: 0 0 10px 10px;
}
.blog {
    position: relative;
}
span.hasTip {
    position: absolute;
    right: 0;
    z-index: 100;
}
.zenright {
    float: right;
    text-align: right;
}
.zenleft {
    float: left;
    text-align: left;
}
.zencenter {
    float: none;
    margin: 0 auto;
    text-align: center;
}
#socialicons ul li {
    float: left;
    list-style-type: none;
    margin-left: 0;
}
#footer #socialicons {
    clear: both;
    margin-top: 20px;
}
#socialicons.zencenter ul {
    display: inline-block;
    float: none;
    padding: 0 10px;
}
.jbSection, .jbCategory, .jbFrontPage {
    clear: both;
    float: left;
    margin-bottom: 3em;
    width: 100%;
}
.jbMeta {
    margin-bottom: 1em;
}
ul.pagination, ul.pagenav {
    margin: 0;
}
ul.pagination li, ul.pagenav li {
    float: left;
    list-style-type: none;
    margin: 0 20px 0 0;
}
ul.pagenav li.pagenav-next {
    float: right;
    margin: 0;
}
p.counter {
    color: #999999;
    font-style: italic;
}
.blog_more ul {
    margin: 0 0 30px;
}
.blog_more ul li {
    border-bottom: 1px solid #EEEEEE;
    list-style-type: none;
    margin: 0;
    padding: 4px 0;
}
#bottomdebug {
    margin: 0 auto;
    width: 90%;
}
label.invalid {
    color: #FF0000;
}
#editor-xtd-buttons {
    padding: 5px;
}
.button2-left, .button2-right, .button2-left div, .button2-right div {
    float: left;
}
.button2-left a, .button2-right a, .button2-left span, .button2-right span {
    color: #666666;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
}
.button2-left span, .button2-right span {
    color: #999999;
    cursor: default;
}
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span {
    padding: 0 6px;
}
.page span {
    color: #000000;
    font-weight: bold;
}
.button2-left a:hover, .button2-right a:hover {
    color: #0B55C4;
    text-decoration: none;
}
.button2-left a, .button2-left span {
    padding: 0 24px 0 6px;
}
.button2-right a, .button2-right span {
    padding: 0 6px 0 24px;
}
.button2-left {
    background: url("../img/j_button2_left.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin-left: 5px;
}
.button2-right {
    background: url("../img/j_button2_right.png") no-repeat scroll 100% 0 transparent;
    float: left;
    margin-left: 5px;
}
.button2-left .image {
    background: url("../img/j_button2_image.png") no-repeat scroll 100% 0 transparent;
}
.button2-left .readmore {
    background: url("../img/j_button2_readmore.png") no-repeat scroll 100% 0 transparent;
}
.button2-left .pagebreak {
    background: url("../img/j_button2_pagebreak.png") no-repeat scroll 100% 0 transparent;
}
.button2-left .blank {
    background: url("../img/j_button2_blank.png") no-repeat scroll 100% 0 transparent;
}
.tool-tip {
    background: none repeat scroll 0 0 #FFFFCC;
    border: 1px solid #D4D5AA;
    float: left;
    max-width: 200px;
    padding: 5px;
}
.tool-title {
    background: url("../img/selector-arrow.png") no-repeat scroll 0 0 transparent;
    font-size: 100%;
    font-weight: bold;
    margin: -15px 0 0;
    padding: 15px 0 5px;
}
.tool-text {
    font-size: 100%;
    margin: 0;
}
div.tooltip {
    background: none repeat scroll 0 0 #FFFFCC;
    border: 1px solid #D4D5AA;
    float: left;
    max-width: 200px;
    padding: 5px;
    z-index: 13000;
}
div.tooltip h4 {
    background: url("../img/selector-arrow.png") no-repeat scroll 0 0 transparent;
    font-size: 95%;
    font-weight: bold;
    margin: -15px 0 0;
    padding: 15px 0 5px;
}
div.tooltip p {
    font-size: 90%;
    margin: 0;
}
.img_caption.left {
    float: left;
    margin-right: 1em;
}
.img_caption.right {
    float: right;
    margin-left: 1em;
}
.img_caption.left p {
    clear: left;
    text-align: center;
}
.img_caption.right p {
    clear: right;
    text-align: center;
}
.img_caption {
    text-align: center !important;
}
.img_caption.none {
    margin-left: auto;
    margin-right: auto;
}
.caption.left {
    float: left;
    margin-right: 1em;
}
.caption.right {
    float: right;
    margin-left: 1em;
}
.caption.left p {
    clear: left;
    text-align: center;
}
.caption.right p {
    clear: right;
    text-align: center;
}
.caption.none {
    margin-left: auto;
    margin-right: auto;
}
.caption {
    text-align: center !important;
}
a img.calendar {
    background: url("../img/calendar.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
    width: 16px;
}
input.system-openid, input.com-system-openid {
    background: url("http://openid.net/images/login-bg.gif") no-repeat scroll 0 50% #FFFFFF;
    color: #000000;
    padding-left: 18px;
}
.system-unpublished {
    background: none repeat scroll 0 0 #E8EDF1;
    border-bottom: 4px solid #C4D3DF;
    border-top: 4px solid #C4D3DF;
}
#system-message {
    margin-bottom: 10px;
    padding: 0;
}
#system-message dt {
    font-weight: bold;
}
#system-message dd {
    text-align: center;
    font-weight: bold;
}
#system-message dd ul {
    border-bottom: 1px dashed #585048;
    border-top: 1px dashed #585048;
    color: #585048;
    list-style: none outside none;
    margin-bottom: 10px;
    padding: 10px;
}
#system-message dt.message {
    display: none;
}
#system-message dd.message {
}
#system-message dt.error {
    display: none;
}
#system-message dd.error ul {
    background-color: #E6C0C0;
    border-bottom: 3px solid #DE7A7B;
    border-top: 3px solid #DE7A7B;
    color: #CC0000;
}
#system-message dt.notice {
    display: none;
}
#system-message dd.notice ul {
    background: none repeat scroll 0 0 #EFE7B8;
    border-bottom: 3px solid #F0DC7E;
    border-top: 3px solid #F0DC7E;
    color: #CC0000;
}
#system-debug {
    background-color: #FFFFFF;
    color: #CCCCCC;
    margin: 10px;
    padding: 10px;
}
#system-debug div {
    font-size: 11px;
}

form.search_result {
    display: none;
    }

div.searchintro {
    display: none;
    }
