/* For the "inset" look only */
html {
    overflow: hidden;
}
body {
    position: absolute;
    top: 0px;
    left: 20px;
    bottom: 20px;
    right: 0px;

    overflow-y: scroll;
    overflow-x: hidden;
}


@font-face {
    font-family: 'MuseoSlab500';
    src: url('../fonts/museo-webfont.eot');
    src: url('../fonts/museo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo-webfont.woff') format('woff'),
         url('../fonts/museo-webfont.ttf') format('truetype'),
         url('../fonts/museo-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo300';
    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo300-Regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*------------------------------------------------------------------
Template:	JB Responsive
Version:	Joomla 1.5
Zen Grid: 	v2.0
Copyright:	Joomlabamboo
Created:	October 2011
---------------------------------------------------*/
 
 
/* Body and Outer Wrapper
-----------------------------------------------------------------------------*/
body { background: transparent url('../img/main_bg.jpg') repeat 0 0; color: #8E8679; }

#fontHeading {}
.fullWrap {margin-top: 20px}

.container {padding: 20px 0}
 




/* Top Row - For top1 to top4 positions
-----------------------------------------------------------------------------*/
#topwrap {} 
#topwrap .container {padding: 0;font-size: 90%;margin-top: 4px}
#topwrapper {}
#top1 {}
#top2 {}
#top3 {}
#top4 ul {float: right}

#topwrap ul li {list-style: none;margin: 0 10px;float: left}


/* Header and Logo Row - For when logo is in the header row and for header1 to header4 positions
-----------------------------------------------------------------------------*/
#headerwrap {}
#headerwrap  .container {}
#headerwrap  .row {padding: 10px}
#header1 {}
#header2 {}
#header3 {}
#header4 {}

#headerwrap h2 {
margin: 0;
}

/* Logo Div and Tagline
-----------------------------------------------------------------------------*/
#logowrap {}
#logowrap .row {height: 120px;}
#logowrap .container {padding: 0;}
#logo {margin: 20px auto -20px}

#logo h4 {}
#logo a {color: #333}
#logo img {}
#tagline {}
#tagline span {font-style: italic;color: #999;position: relative;z-index: 1}


/* Nav row - for the menu position. See below for superfish styling
-----------------------------------------------------------------------------*/
#navwrap{}
#navwrap .inner {border: 1px dashed #857d76;border-width: 1px 0;float: left;width: 100%;padding: 5px 0}
#navwrap .row {overflow: visible;padding: 10px 10px 20px}
#navwrap .container {}
#navwrapper {}
#nav {}

#nav ul li {
font-size: 1.2em
}

#nav ul li li {
font-size: 0.8em
;
}

#nav ul li li li{
font-size: 1em
}
#nav.centered li li {
padding: 8px 0;text-indent: 10px;;
}


#nav ul li:hover ul,.moduletable-superfish ul li:hover ul,
#nav ul li.sfHover ul,.moduletable-superfish ul li.sfHover ul {
top: 40px;
background: url('../image/menu_bg.png') no-repeat 0 0;
}

#menuwrap {}

.moduletable-panelmenu p {
   margin-bottom: 0px;
   }

div#mainContent.one {border: 1px dashed #D3CBB9; margin: 12px;padding: 10px;}

/* Banner Row - For the banner position
-----------------------------------------------------------------------------*/
#bannerwrap {}
#bannerwrap .row{}
#bannerwrap .container{padding: 40px 0 20px}
#banner {
    height: 100%;
    padding-top: 2px;
    background: url("../img/white_bg.png") repeat scroll 0 0 transparent;
}





/* Tabbed Module - Bottom1 to bottom4 modules
-----------------------------------------------------------------------------*/
#tabwrap {
    padding: 8px;
    margin-top: 20px;
    margin-left: 208px;
    width: 921px;
    background: url("../img/white_bg.png") repeat scroll 0 0 transparent;
}
#tabwrap .row {padding: 0 0}
#tabwrap .container {
width: 897px;
border: 1px dashed #D3CBB9;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 12px;
padding-right: 12px;
}
#jbtabbedArea {width: 100%;float: left}
 ul.jbtabs {padding-bottom: 10px;padding-left: 280px;border-bottom: 1px dashed #D3CBB9;height: 18px;position: relative;z-index: 1;margin-bottom: 40px}
.jbtab_container {margin-left: 20px;margin-right: 20px;clear: both}

@media all and (orientation) {
/* One pixel difference on firefox - this corrects that */  
ul.jbtabs {height: 19px}
}

ul.jbtabs li {float: left;list-style-type: none;margin: 0;padding: 0}
ul.jbtabs li a {color: #999;padding-left: 20px;padding-right: 20px}
ul.jbtabs li a:hover {
color: #fff;text-decoration: none;
}

ul.jbtabs li.active a {
    background: none!important;
    color: #999!important;
    
}
ul.jbtabs li a:hover {
    background: none!important;
    color: #999!important;
}
ul.jbtabs li.active a:hover {
    background: none!important;
    color: #999!important;
}

.jbtabwidth1 {float: left;width: 100%}

.jbtabwidth2 .moduletable 
{float: left;width: 48%;margin-right: 2%}

.jbtabwidth3 .moduletable 
{float: left;width:31%;margin-right: 2%}


.jbtabwidth4 .moduletable 
 {float: left;width: 23%;margin-right: 2%}




/* Grid1 Row - Grid modules 1 to 4
-----------------------------------------------------------------------------*/
#grid1wrap {}
#grid1wrap .row {border-bottom: 1px solid #ddd}
#grid1wrap .container {} 
.grid1wrap {}
#grid1 {}
#grid2 {}
#grid3 {}
#grid4 {}



/* Grid2 Row - Grid modules 5 to 8
-----------------------------------------------------------------------------*/
#grid2wrap {}
#grid2wrap .row{border-bottom: 1px solid #ddd}
#grid2wrap .container{}
.grid2wrap {}
#grid5 {}
#grid6 {}
#grid7 {}
#grid8 {}



/* Grid3 Row - Grid modules 9 to 12
-----------------------------------------------------------------------------*/
#grid3wrap {}
#grid3wrap .row {border-bottom: 1px solid #ddd}
#grid3wrap .container {}
.grid3wrap {}
#grid9 {}
#grid10 {}
#grid11 {}
#grid12 {}


/* Main Content
-----------------------------------------------------------------------------*/
#mainwrap {padding-top:8px}
#mainwrap .row {}
#mainwrap .container {padding-top: 0}
#midCol {padding-top: 2px;padding-bottom: 2px;background: url("../img/white_bg.png") repeat scroll 0 0 transparent;}


/* MidCol Layout Variations
-----------------------------------------------------------------------------*/
#midCol.One {}
#midCol.twoL {
    margin-top: 30px;
    padding-top: 0;
    background: transparent url('../img/white_bg.png') repeat 0 0;
}
#midCol.twoR {}
#midCol.threeLR {
    margin-top: 30px;     
    padding-top: 0;     background: transparent url('../img/white_bg.png') repeat 0 0;
}
#midCol.threeLC {}
#midCol.threeRC {}
#midCol.fourLRC {} 



/* Main Layout Variations
-----------------------------------------------------------------------------*/
#mainwrap.One {}
#mainwrap.twoL {}
#mainwrap.twoR {}
#mainwrap.threeLR {}
#mainwrap.threeLC {}
#mainwrap.threeRC {}
#mainwrap.fourLRC {}


/* Common to left, right and center columns
-----------------------------------------------------------------------------*/
.sidebar .moduletable,.sidebar .moduletable-panelmenu,.sidebar .moduletable-slide {
margin-bottom: 30px;margin-top: 30px;text-align: center;
}

.sidebar ul li li a {
text-indent: 30px;
}

.sidebar ul li.active li a {
color: #BF7233;}

.sidebar ul li.active a {
padding-bottom: 6px;
}
.sidebar ul li.active li a {
padding-bottom: 0px;
padding-left: 10px;
}

.sidebar ul li {
list-style-type: none;margin: 0;
border-bottom: 1px solid #C6BFAD;
}

.sidebar ul li.active li a {
background: transparent url('../img/light_bg.jpg') repeat 0 0;border: 0;
color: #585048;
padding-bottom: 0;
margin-bottom: 0;
}

.sidebar ul li.active  {
margin-bottom:10px;
text-align: center;
color: #585048 !important;
padding-top: 0px;  
margin-bottom: 0 !important;
padding-bottom: 0;
}
li.active ul {
overflow-y: auto;
max-height: 400px;
box-shadow: inset 0 0 16px rgba(117, 113, 98, 0.52); -moz-box-shadow: inset 0 0 16px rgba(117, 113, 98, 0.52); -webkit-box-shadow: inset 0 0 16px rgba(117, 113, 98, 0.52);
color: white;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparent url('../img/bottom_bg.jpg') repeat 0 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.sidebar ul li.active li.active  {
margin-bottom:0px;
}

/* LeftCol Variations
-----------------------------------------------------------------------------*/
#leftCol {}
#leftCol.twoL {}
#leftCol.threeLR {}
#leftCol.threeLC {}
#leftCol.fourLRC {}


/* Center Col Variations
-----------------------------------------------------------------------------*/
#centerCol {}
#centerCol.threeRC {}
#centerCol.threeLC {}
#centerCol.fourLRC {}


/* rightCol Variations
-----------------------------------------------------------------------------*/
#rightCol {}
#rightCol.twoR {}
#rightCol.threeLR {}
#rightCol.threeRC {}
#rightCol.fourLRC {}



/* Above Main Content
-----------------------------------------------------------------------------*/
#above {border-bottom: 1px solid #ddd}
#above.twoL {}
#above.twoR {}
#above.threeLR {}
#above.threeLC {}
#above.threeRC {}
#above.fourLRC {}


/* Advert4 to Advert6
-----------------------------------------------------------------------------*/
#belowcontent {}
#belowcontent1 {}
#belowcontent2 {}
#belowcontent3 {}


/* Advert1 to Advert3
-----------------------------------------------------------------------------*/
#abovecontent {}
#abovecontent1 {}
#abovecontent2 {}
#abovecontent3 {}



/* Below Main Content
-----------------------------------------------------------------------------*/
#below {border-bottom: 1px solid #ddd}
#below.twoL {}
#below.twoR {}
#below.threeLR {}
#below.threeLC {}
#below.threeRC {}
#below.fourLRC {}



/* Breadcrumbs
-----------------------------------------------------------------------------*/
#breadcrumb {margin: 0;width: 100%;padding: 10px 0;font-size: 90%;color: #999;border-bottom: 1px solid #ddd}
#breadcrumb .moduletable {}
.pathway img {margin: 0px 2px 0}
span.breadcrumbs.pathway {}



/* Grid4 Row - Grid modules 13 to 16
-----------------------------------------------------------------------------*/
#grid4wrap {}
#grid4wrap .row {border-bottom: 1px solid #ddd}
#grid4wrap .container {}
.grid4wrap {}
#grid13 {}
#grid14 {}
#grid15 {}
#grid16 {}


/* Grid5 Row - Grid modules 17 to 20
-----------------------------------------------------------------------------*/
#grid5wrap {}
#grid5wrap .row{border-bottom: 1px solid #ddd}
#grid5wrap .container{}
.grid5wrap {}
#grid17 {}
#grid18 {}
#grid19 {}
#grid20 {}


/* Grid6 Row - Grid modules 21 to 24
-----------------------------------------------------------------------------*/
#grid6wrap {}
#grid6wrap .row{border-bottom: 1px solid #ddd}
.grid6wrap {}
#grid21 {}
#grid22 {}
#grid23 {}
#grid24 {}




/* Bottom Row - Bottom1 to bottom4 modules
-----------------------------------------------------------------------------*/
#bottomrow {}
#bottomrow .row {}
#bottomrow .container{}
#bottom {}
#bottom1 {}
#bottom2 {}
#bottom3 {}
#bottom4 {}


/* Footer Row - Footer Position
-----------------------------------------------------------------------------*/
#footerwrap {}
#footerwrap .row {}
#footerwrap .container {
padding: 0 0 30px 0;
}
#footer {padding-top: 20px}
#footerLeft {float: left}
#footerRight {width: 100%;text-align: center}

img.jbLogo {margin-top: 40px}

#footer ul {
margin: 0;
}
#footer ul li {
list-style-type: none;float: left;margin-right: 20px;
}

/* Hidden Panel - Core often overriden in template overrides
-----------------------------------------------------------------------------*/
#zenpanel {}
#zenpanelInner {}
#panel {}
#panel1 {}
#panel2 {}
#panel3 {}
#panel4 {}
#zenoverlay {}
#zenpaneltrigger {margin-top: 20px;right: 10px}

a#zenpanelopen {font-size: 90%;font-style: italic;display: block;text-align: center;padding: 14px;font-size: 130%;border-radius: 150px;display: block;margin: 0;padding: 16px 14px}

a#zenpanelopen:hover {
text-decoration: none;
}

/* Places the close button off the screen so we dont need to override */
a#zenpanelclose {margin-top: -100px}

/* Close button inside the popup */
a#zenpanelclose2 {position: absolute;text-indent: -9999em;right: 8px;height: 40px;width: 40px;top: 8px;
background: url(../img/panel/panelClose.png) no-repeat;
}




/* Social Icons
-----------------------------------------------------------------------------*/
#socialicons a{ border-radius: 150px;display: block;margin: 0;padding: 10px}



/* Search
-----------------------------------------------------------------------------*/
#search {}
#search .inputbox,#search_searchword {border: 1px solid #ddd;padding: 8px;margin: 4px 0;	border: 1px solid #c8c8c8; font-size: 13px;color: #333333;padding-bottom: 0;margin: 0 20px}
#searchForm .button {margin-top: 8px}


.results ol li {
border-bottom: 1px solid #ddd;
}

.results p {
color: #999;font-size: 90%;margin: 0 0 4px;
}
 



 
/* Typography
-----------------------------------------------------------------------------*/
a {}
p {
}

/* Headings */
h1,.componentheading {color:#333} 
h2,.contentheading,h2 a {color: #585048;}
.contentheading {
margin-bottom: 0.67em;
}
h3,.moduletable h3 {color:#333}
h4 {color:#333} 
h5 {color: #585048;}
h6 {color:#333}


strong {color: #666}






/* Split Menu Spacing
-----------------------------------------------------------------------------*/
#jbSplitMenuLeft,#jbSplitMenuRight {
margin-top: 25px;
}

#jbSplitMenuLeft ul li,#jbSplitMenuRight ul li {
text-indent: 6px;
}



#subnav {
font-size: 85%;padding-bottom: 8px;
}

#subnav ul li a {
padding: 4px;margin: 0 15px
}

#subnav span.mainlevel span {
padding: 4px;
}

#subnav ul li.active a {
-webkit-border-radius: 3px;
-moz-border-radius:3px;
border-radius: 3px;
}


#jbSplitMenuAbove {
padding: 10px 0;background: #fefefe;float: left;width: 100%;border-bottom: 1px solid #eee;
}

#jbSplitMenuAbove  ul {
margin: 0 0 0 10px;
}
#jbSplitMenuAbove  ul li {
list-style-type: none;margin: 0 20px 0 0;float: left;font-size: 90%;
}

#jbSplitMenuAbove ul li#current a {
padding: 4px;-webkit-border-radius: 3px;
-moz-border-radius:3px;
border-radius: 3px;
}


/* Panel Menu
-----------------------------------------------------------------------------*/
.moduletable-panelmenu span.mainlevel {
cursor: pointer;font-size: 1.1em;padding: 0;display: block;
}

.moduletable-panelmenu span.mainlevel.close,.moduletable-panelmenu span.mainlevel,h3.close,.moduletable-panelmenu span.separator,.moduletable-panelmenu span.separator.close {
background: url(../img/menu/smallDownArrow.png) no-repeat 0 center;padding-left: 30px;cursor: pointer;
}

.moduletable-panelmenu span.mainlevel.open,h3.open,,.moduletable-panelmenu span.separator.open{
background: url(../img/menu/smallUpArrow.png) no-repeat 0 center;padding-left: 30px;cursor: pointer;
}

/* Input Styling */
.inputbox,input#email {font-size: 14px}

/* Overrides */
/* Page classes */
div.jbFrontPage {}
div.jbArticle {}
div.jbSection {}
div.jbCategory {}



/* PDF Buttons
-----------------------------------------------------------------------------*/
div.buttons {float: right;width: 60px;text-align: right}



/* JB Meta
-----------------------------------------------------------------------------*/
div.jbMeta {border-bottom: 1px solid #ddd;padding-bottom: 0.6em;float: left;width: 100%} 




/* Section and Categoris
-----------------------------------------------------------------------------*/
div.jbSectCat {font-style: italic;float: left;margin-right: 20px}
span.jbSections {}
span.jbCategories {}

/* Author and date styling */
div.jbAuthorDate {font-size: 90%;font-style: italic;margin-right: 20px}
span.jbModifydate {float: left;font-size: 90%;color: #999;font-style: italic;clear: both;margin-top: 10px}
span.jbModifydate span {
margin-right: 6px; 
}
span.jbAuthor {}

div.jbCreatedate,span.jbPublished {font-size: 90%;font-style: italic;float: left;color: #999;margin-right: 20px}
div.jbCreatedate span {margin-right: 6px} 
div.jbCreatedate span.dateday {}
div.jbCreatedate span.datemonth {}
div.jbCreatedate span.dateyear {}

/* Read more */
div.jbReadmore {}
a.jbReadon {
float: right;padding: 2px 8px;-webkit-border-radius: 2px;
-moz-border-radius:2px;
border-radius: 2px;

}


input,
textarea {
border: 1px solid #D3CBB9;
padding: 4px;-webkit-border-radius: 2px;
-moz-border-radius:2px;
border-radius: 2px;


color: #585048;
}

input#username.inputbox,
input#email.inputbox,
input#kindle.inputbox,
input#password.inputbox,
input#password2.inputbox  {
    width: 160px;
    }


/* Microblog and PrettyBox
-----------------------------------------------------------------------------*/

.mbWrap img,img.prettyBox
{
box-shadow: 0 0 3px rgba(0, 0, 0, .2);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
background: #fff;
border: 0
}


.mbRow {
float: left;width: 100%;margin-bottom: 30px;
}

.mbWrap.last {
float: right;margin: 0;
}

.jb_left45,.jb_right45 {
border-bottom: 0 !important;
}
.features {height: 150px;border-bottom: 1px solid #ddd;padding-bottom: 20px;margin-bottom: 20px;overflow: hidden}

ul.mbList {
margin: 0;
}

.mbLeftCol .mbMaxbizDate {
text-align: center;font-size: 1.3em;padding-top: 10px;-webkit-border-radius: 3px;
-moz-border-radius:3px;
border-radius: 3px;
}

.moduletable-panelmenu .jbmoduleBody {
background: transparent url('../img/light_bg.png') repeat-x 0 0; padding: 0!important;
border: 1px solid #E2DECF;
padding-left: 8px;
padding-right: 8px;
box-shadow: 0 0 16px rgba(117, 113, 98, 0.52); -moz-box-shadow: 0 0 16px rgba(117, 113, 98, 0.52); -webkit-box-shadow: 0 0 16px rgba(117, 113, 98, 0.52);
}











