{% load static %}
<div>
    <table>
        <tr>
            <td class="lp"><div>ID</div></td>
            <td class="date"><div>Start/Koniec/Typ</div></td>
        </tr>
        {% for command in commands %}
            <tr class="us{% if command.finished %} finished{% endif %}{% if command.success %} success{% endif %}">
                <td rowspan="3" class="row">{{ command.id }}</td>
                <td>{{ command.start|date:"d-m-Y H:i" }}</td>
            </tr>
            <tr>
                <td>{{ command.end|date:"d-m-Y H:i" }}</td>
            </tr>
            <tr>
                <td>{% if command.manual %}manual{% else %}auto{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4" style="text-align: left">
                <button id="new_update">Nowy</button>
                <button id="all" class="new_update checked">Wszystkie</button>
                <button id="update" class="new_update">Update!</button>
                <input id="autorefresh" type="checkbox" value="autorefresh" checked> autorefresh
            </td>
        </tr>
    </table>
    <table class="connectors">
        <tr>
            {% for bookstore in bookstores %}
                <td class='rotated_cell'>
                    <div class='rotate_text'>{{ forloop.counter }} - {{ bookstore.name }}</div>
                </td>
            {% endfor %}
        </tr>
        {% for row in data %}
            {% for innerrow in row.innerrows %}
                <tr>
                    {% for bcs in innerrow %}
                        <td class="
                            {% if bcs %}
                                {% if not bcs.finished %}
                                    {% if bcs.is_dog_fed %}
                                        in_progress
                                    {% else %}
                                        stop_fail
                                    {% endif %}
                                {% else %}
                                    {% if bcs.success %}
                                        success
                                    {% else %}
                                        fail
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                no
                            {% endif %}
                        ">
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}
        <tr class="new_update">
            {% for service in services %}
                <td>
                    <input class="update_checkbox" type="checkbox" checked value="{{ service.name }}">
                </td>
            {% endfor %}
        </tr>
    </table>
</div>
