{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Profil Użytkownika{% endblock %}

{% block css %}
    <link href="{% static "css/search.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/profile.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/profile.js" %}"></script>
{% endblock %}

{% block searchbox %}
    {% include "searchbox_small_panel.html" %}
{% endblock %}

{% block container %}
    <div id=book_container class="container" data-book-id="{{ book.id }}">
      <div class='wrap_panel product_details'>
        <div class='L_top_panel'>
          {% block L_top_panel %}{% endblock L_top_panel %}
        </div>
        <div class='main_container'>
          {% block main_container %}{% endblock main_container %}
        </div>
      </div>
      <div class='L_left_panel'>
        {% block L_left_panel %} {% include "auth/menu.html" %} {% endblock L_left_panel %}
      </div>
    </div>
{% endblock %}
