$box-color: #F6F6F6;
$box-border-color: #E3E3E3;

$left-panel-width: 290px;
$panel-border-width: 2px;

$padding: 20px;
$padding-top: 40px;

.main_container{
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  float: right;
  padding: $padding;
  width: 100%;
}

.L_left_panel {
    background-color: $box-color;
    border-bottom: $panel-border-width solid $box-border-color;
    border-right: $panel-border-width solid $box-border-color;
    height: 600px;
    width: $left-panel-width;
}

.wrap_panel{
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding-left: $left-panel-width;
}

.L_top_panel {
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  width: 100%;

  padding: $padding;
  padding-top: $padding-top;
  float: right;
  background-color: $box-color;
  border-bottom: $panel-border-width solid $box-border-color;
}